templates/NiFi_Flow_Clickhouse_Audit_To_Analytics_v2.json
{
  "flowContents": {
    "identifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
    "instanceIdentifier": "27e2908d-0187-1000-966c-f4c46f0a5328",
    "name": "NiFi_Flow_Clickhouse_Audit_To_Analytics_v2",
    "comments": "",
    "position": { "x": 483.0, "y": 150.0 },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "6949c96c-2df0-3162-9e16-df959fd0ab12",
        "instanceIdentifier": "28179b43-0187-1000-4d83-a89562df7de8",
        "name": "SplitJson",
        "comments": "",
        "position": { "x": 1232.0, "y": 32.0 },
        "type": "org.apache.nifi.processors.standard.SplitJson",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.20.0"
        },
        "properties": {
          "Null Value Representation": "empty string",
          "JsonPath Expression": "$.*"
        },
        "propertyDescriptors": {
          "Null Value Representation": {
            "name": "Null Value Representation",
            "displayName": "Null Value Representation",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "JsonPath Expression": {
            "name": "JsonPath Expression",
            "displayName": "JsonPath Expression",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["original"],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "42c190ad-4ca1-3451-b143-001046194bbb",
        "instanceIdentifier": "28455ecc-0187-1000-0730-7045f418ffa4",
        "name": "ObjectType RouteOnAttribute",
        "comments": "",
        "position": { "x": 1232.0, "y": 464.0 },
        "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.20.0"
        },
        "properties": {
          "Brand": "${auditObjectType:equals('Brand')}",
          "Routing Strategy": "Route to Property name",
          "Car": "${auditObjectType:equals('Car')}",
          "SparePart": "${auditObjectType:equals('SparePart')}",
          "ProducingCountry": "${auditObjectType:equals('ProducingCountry')}"
        },
        "propertyDescriptors": {
          "Brand": {
            "name": "Brand",
            "displayName": "Brand",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Routing Strategy": {
            "name": "Routing Strategy",
            "displayName": "Routing Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Car": {
            "name": "Car",
            "displayName": "Car",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "SparePart": {
            "name": "SparePart",
            "displayName": "SparePart",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "ProducingCountry": {
            "name": "ProducingCountry",
            "displayName": "ProducingCountry",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "41c61521-b3d9-3bd6-98ac-beb9fa133ffa",
        "instanceIdentifier": "27fb0bd8-0187-1000-9e74-38ea4817ee48",
        "name": "ExecuteSQLRecord",
        "comments": "",
        "position": { "x": 576.0, "y": 240.0 },
        "type": "org.apache.nifi.processors.standard.ExecuteSQLRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.20.0"
        },
        "properties": {
          "esql-max-rows": "0",
          "esqlrecord-record-writer": "8501bc12-f934-3a15-a607-f53dabc304e9",
          "dbf-default-precision": "10",
          "Max Wait Time": "0 seconds",
          "Database Connection Pooling Service": "b0d79805-9efa-3e1c-9ef4-49b4219c3428",
          "sql-post-query": null,
          "esql-auto-commit": "true",
          "dbf-user-logical-types": "false",
          "dbf-default-scale": "0",
          "sql-pre-query": null,
          "esql-output-batch-size": "0",
          "esql-fetch-size": "0",
          "SQL select query": "SELECT * \nFROM ${auditObjectType}\nWHERE primaryKey = '${auditObjectPrimaryKey}'",
          "esqlrecord-normalize": "false"
        },
        "propertyDescriptors": {
          "esql-max-rows": {
            "name": "esql-max-rows",
            "displayName": "Max Rows Per Flow File",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "esqlrecord-record-writer": {
            "name": "esqlrecord-record-writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "dbf-default-precision": {
            "name": "dbf-default-precision",
            "displayName": "Default Decimal Precision",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Max Wait Time": {
            "name": "Max Wait Time",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database Connection Pooling Service": {
            "name": "Database Connection Pooling Service",
            "displayName": "Database Connection Pooling Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "sql-post-query": {
            "name": "sql-post-query",
            "displayName": "SQL Post-Query",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "esql-auto-commit": {
            "name": "esql-auto-commit",
            "displayName": "Set Auto Commit",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbf-user-logical-types": {
            "name": "dbf-user-logical-types",
            "displayName": "Use Avro Logical Types",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbf-default-scale": {
            "name": "dbf-default-scale",
            "displayName": "Default Decimal Scale",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sql-pre-query": {
            "name": "sql-pre-query",
            "displayName": "SQL Pre-Query",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "esql-output-batch-size": {
            "name": "esql-output-batch-size",
            "displayName": "Output Batch Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "esql-fetch-size": {
            "name": "esql-fetch-size",
            "displayName": "Fetch Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "SQL select query": {
            "name": "SQL select query",
            "displayName": "SQL select query",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "esqlrecord-normalize": {
            "name": "esqlrecord-normalize",
            "displayName": "Normalize Table/Column Names",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "7c4b6a27-5bd4-35e6-99d0-49480a5ef0dd",
        "instanceIdentifier": "1aff47eb-32ee-3db2-f763-a428a5741019",
        "name": "CH Analytics PutDatabaseRecord",
        "comments": "",
        "position": { "x": 576.0, "y": 480.0 },
        "type": "org.apache.nifi.processors.standard.PutDatabaseRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.20.0"
        },
        "properties": {
          "put-db-record-allow-multiple-statements": "false",
          "table-schema-cache-size": "100",
          "put-db-record-schema-name": null,
          "put-db-record-field-containing-sql": null,
          "put-db-record-quoted-table-identifiers": "false",
          "Statement Type Record Path": null,
          "put-db-record-unmatched-column-behavior": "Fail on Unmatched Columns",
          "put-db-record-catalog-name": null,
          "put-db-record-translate-field-names": "true",
          "put-db-record-dcbp-service": "91166ae7-cf2e-3f9b-856e-bc115395f1b2",
          "put-db-record-query-timeout": "0 seconds",
          "rollback-on-failure": "false",
          "put-db-record-statement-type": "INSERT",
          "db-type": "Generic",
          "put-db-record-update-keys": null,
          "put-db-record-quoted-identifiers": "false",
          "put-db-record-table-name": "Analitics",
          "put-db-record-unmatched-field-behavior": "Ignore Unmatched Fields",
          "put-db-record-max-batch-size": "0",
          "put-db-record-record-reader": "72a78249-0994-370d-9187-3211f8d3f2d2",
          "Data Record Path": null
        },
        "propertyDescriptors": {
          "put-db-record-allow-multiple-statements": {
            "name": "put-db-record-allow-multiple-statements",
            "displayName": "Allow Multiple SQL Statements",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "table-schema-cache-size": {
            "name": "table-schema-cache-size",
            "displayName": "Table Schema Cache Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-schema-name": {
            "name": "put-db-record-schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-field-containing-sql": {
            "name": "put-db-record-field-containing-sql",
            "displayName": "Field Containing SQL",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-quoted-table-identifiers": {
            "name": "put-db-record-quoted-table-identifiers",
            "displayName": "Quote Table Identifiers",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Statement Type Record Path": {
            "name": "Statement Type Record Path",
            "displayName": "Statement Type Record Path",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-unmatched-column-behavior": {
            "name": "put-db-record-unmatched-column-behavior",
            "displayName": "Unmatched Column Behavior",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-catalog-name": {
            "name": "put-db-record-catalog-name",
            "displayName": "Catalog Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-translate-field-names": {
            "name": "put-db-record-translate-field-names",
            "displayName": "Translate Field Names",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-dcbp-service": {
            "name": "put-db-record-dcbp-service",
            "displayName": "Database Connection Pooling Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "put-db-record-query-timeout": {
            "name": "put-db-record-query-timeout",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "rollback-on-failure": {
            "name": "rollback-on-failure",
            "displayName": "Rollback On Failure",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-statement-type": {
            "name": "put-db-record-statement-type",
            "displayName": "Statement Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "db-type": {
            "name": "db-type",
            "displayName": "Database Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-update-keys": {
            "name": "put-db-record-update-keys",
            "displayName": "Update Keys",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-quoted-identifiers": {
            "name": "put-db-record-quoted-identifiers",
            "displayName": "Quote Column Identifiers",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-table-name": {
            "name": "put-db-record-table-name",
            "displayName": "Table Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-unmatched-field-behavior": {
            "name": "put-db-record-unmatched-field-behavior",
            "displayName": "Unmatched Field Behavior",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-max-batch-size": {
            "name": "put-db-record-max-batch-size",
            "displayName": "Maximum Batch Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-record-reader": {
            "name": "put-db-record-record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Data Record Path": {
            "name": "Data Record Path",
            "displayName": "Data Record Path",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "DISABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "c6e3c4e8-902a-3da5-a5be-75c265126555",
        "instanceIdentifier": "a4be9437-1efb-382d-ef22-e5889364fa3c",
        "name": "CH Audit QueryDatabaseTableRecord",
        "comments": "",
        "position": { "x": 576.0, "y": 32.0 },
        "type": "org.apache.nifi.processors.standard.QueryDatabaseTableRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.20.0"
        },
        "properties": {
          "Table Name": "Audit",
          "db-fetch-db-type": "Generic",
          "dbf-default-precision": "10",
          "qdbtr-record-writer": "8501bc12-f934-3a15-a607-f53dabc304e9",
          "Max Wait Time": "0 seconds",
          "Database Connection Pooling Service": "5c87fb76-43ce-3fc1-aaf0-11322ec11b4c",
          "Maximum-value Columns": "OperationTime",
          "dbf-user-logical-types": "false",
          "qdbt-output-batch-size": "0",
          "qdbt-max-rows": "0",
          "qdbt-max-frags": "0",
          "dbf-default-scale": "0",
          "initial-load-strategy": "Start at Current Maximum Values",
          "Fetch Size": "0",
          "db-fetch-sql-query": "SELECT primaryKey,\n\tUserName,\n\tUserLogin,\n\tOperationId,\n\tOperationTags,\n\tObjectType,\n\tObjectPrimaryKey,\n\ttoString(OperationTime) as OperationTime,\n\tOperationType\nFROM Audit",
          "qdbtr-normalize": "false",
          "Columns to Return": "primaryKey, UserName, UserLogin, OperationId, OperationTags, ObjectType, OperationTime, OperationType, ObjectPrimaryKey",
          "db-fetch-where-clause": "OperationType != 'Ratify'"
        },
        "propertyDescriptors": {
          "Table Name": {
            "name": "Table Name",
            "displayName": "Table Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "db-fetch-db-type": {
            "name": "db-fetch-db-type",
            "displayName": "Database Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbf-default-precision": {
            "name": "dbf-default-precision",
            "displayName": "Default Decimal Precision",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "qdbtr-record-writer": {
            "name": "qdbtr-record-writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Max Wait Time": {
            "name": "Max Wait Time",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database Connection Pooling Service": {
            "name": "Database Connection Pooling Service",
            "displayName": "Database Connection Pooling Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Maximum-value Columns": {
            "name": "Maximum-value Columns",
            "displayName": "Maximum-value Columns",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbf-user-logical-types": {
            "name": "dbf-user-logical-types",
            "displayName": "Use Avro Logical Types",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "qdbt-output-batch-size": {
            "name": "qdbt-output-batch-size",
            "displayName": "Output Batch Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "qdbt-max-rows": {
            "name": "qdbt-max-rows",
            "displayName": "Max Rows Per Flow File",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "qdbt-max-frags": {
            "name": "qdbt-max-frags",
            "displayName": "Maximum Number of Fragments",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbf-default-scale": {
            "name": "dbf-default-scale",
            "displayName": "Default Decimal Scale",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "initial-load-strategy": {
            "name": "initial-load-strategy",
            "displayName": "Initial Load Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Fetch Size": {
            "name": "Fetch Size",
            "displayName": "Fetch Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "db-fetch-sql-query": {
            "name": "db-fetch-sql-query",
            "displayName": "Custom Query",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "qdbtr-normalize": {
            "name": "qdbtr-normalize",
            "displayName": "Normalize Table/Column Names",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Columns to Return": {
            "name": "Columns to Return",
            "displayName": "Columns to Return",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "db-fetch-where-clause": {
            "name": "db-fetch-where-clause",
            "displayName": "Additional WHERE clause",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "1 min",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "PRIMARY",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "631c3aca-8790-3801-888a-dcc2371b8266",
        "instanceIdentifier": "282135f4-0187-1000-f9d9-9c1639dc8d04",
        "name": "EvaluateJsonPath",
        "comments": "",
        "position": { "x": 1232.0, "y": 240.0 },
        "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.20.0"
        },
        "properties": {
          "Destination": "flowfile-attribute",
          "auditObjectType": "$.ObjectType",
          "Return Type": "auto-detect",
          "Null Value Representation": "empty string",
          "auditObjectPrimaryKey": "$.ObjectPrimaryKey",
          "Path Not Found Behavior": "ignore"
        },
        "propertyDescriptors": {
          "Destination": {
            "name": "Destination",
            "displayName": "Destination",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "auditObjectType": {
            "name": "auditObjectType",
            "displayName": "auditObjectType",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Return Type": {
            "name": "Return Type",
            "displayName": "Return Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Null Value Representation": {
            "name": "Null Value Representation",
            "displayName": "Null Value Representation",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "auditObjectPrimaryKey": {
            "name": "auditObjectPrimaryKey",
            "displayName": "auditObjectPrimaryKey",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Path Not Found Behavior": {
            "name": "Path Not Found Behavior",
            "displayName": "Path Not Found Behavior",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "a9633fc9-0f6e-32ca-b7d5-e9962c4a1a98",
        "instanceIdentifier": "28c049eb-0187-1000-1604-a071da2aee03",
        "name": "",
        "source": {
          "id": "42c190ad-4ca1-3451-b143-001046194bbb",
          "type": "PROCESSOR",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "ObjectType RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "28455ecc-0187-1000-0730-7045f418ffa4"
        },
        "destination": {
          "id": "41c61521-b3d9-3bd6-98ac-beb9fa133ffa",
          "type": "PROCESSOR",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "ExecuteSQLRecord",
          "comments": "",
          "instanceIdentifier": "27fb0bd8-0187-1000-9e74-38ea4817ee48"
        },
        "labelIndex": 2,
        "zIndex": 0,
        "selectedRelationships": ["SparePart"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [
          { "x": 1208.0, "y": 528.0 },
          { "x": 1208.0, "y": 288.0 },
          { "x": 1080.0, "y": 288.0 }
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "39f0849b-2d7d-3107-bffd-5c355a51a3f7",
        "instanceIdentifier": "28beac49-0187-1000-a3ba-82e279209e54",
        "name": "",
        "source": {
          "id": "42c190ad-4ca1-3451-b143-001046194bbb",
          "type": "PROCESSOR",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "ObjectType RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "28455ecc-0187-1000-0730-7045f418ffa4"
        },
        "destination": {
          "id": "41c61521-b3d9-3bd6-98ac-beb9fa133ffa",
          "type": "PROCESSOR",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "ExecuteSQLRecord",
          "comments": "",
          "instanceIdentifier": "27fb0bd8-0187-1000-9e74-38ea4817ee48"
        },
        "labelIndex": 3,
        "zIndex": 0,
        "selectedRelationships": ["Brand"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [
          { "x": 1208.0, "y": 528.0 },
          { "x": 1208.0, "y": 240.0 },
          { "x": 1080.0, "y": 240.0 }
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "41a6bd08-357a-3a7c-92fc-8dda3a47b5cb",
        "instanceIdentifier": "2805b0e4-0187-1000-9949-92bc3e7eb012",
        "name": "",
        "source": {
          "id": "41c61521-b3d9-3bd6-98ac-beb9fa133ffa",
          "type": "PROCESSOR",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "ExecuteSQLRecord",
          "comments": "",
          "instanceIdentifier": "27fb0bd8-0187-1000-9e74-38ea4817ee48"
        },
        "destination": {
          "id": "42a463b1-aa95-350f-9f49-5d9ddcd5e94e",
          "type": "FUNNEL",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "Funnel",
          "comments": "",
          "instanceIdentifier": "28347bc3-0187-1000-1091-8511a4cdf62f"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": ["failure"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [
          { "x": 520.0, "y": 304.0 },
          { "x": 520.0, "y": 408.0 }
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "3b59c862-24e3-334e-b48e-e555b45efe40",
        "instanceIdentifier": "2823730f-0187-1000-2729-732ef2391c7d",
        "name": "",
        "source": {
          "id": "631c3aca-8790-3801-888a-dcc2371b8266",
          "type": "PROCESSOR",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "EvaluateJsonPath",
          "comments": "",
          "instanceIdentifier": "282135f4-0187-1000-f9d9-9c1639dc8d04"
        },
        "destination": {
          "id": "42c190ad-4ca1-3451-b143-001046194bbb",
          "type": "PROCESSOR",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "ObjectType RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "28455ecc-0187-1000-0730-7045f418ffa4"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": ["matched"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "06531a80-4797-317f-b60c-361c0a2de804",
        "instanceIdentifier": "00d9f727-81bf-3b12-1984-5a3b4a08517e",
        "name": "",
        "source": {
          "id": "7c4b6a27-5bd4-35e6-99d0-49480a5ef0dd",
          "type": "PROCESSOR",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "CH Analytics PutDatabaseRecord",
          "comments": "",
          "instanceIdentifier": "1aff47eb-32ee-3db2-f763-a428a5741019"
        },
        "destination": {
          "id": "42a463b1-aa95-350f-9f49-5d9ddcd5e94e",
          "type": "FUNNEL",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "Funnel",
          "comments": "",
          "instanceIdentifier": "28347bc3-0187-1000-1091-8511a4cdf62f"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": ["failure"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [
          { "x": 752.0, "y": 656.0 },
          { "x": 584.0, "y": 656.0 },
          { "x": 584.0, "y": 712.0 }
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "ff46b679-1729-375d-abc5-155e99b7c8bb",
        "instanceIdentifier": "28c646ba-0187-1000-8250-1542ab3d764f",
        "name": "",
        "source": {
          "id": "42c190ad-4ca1-3451-b143-001046194bbb",
          "type": "PROCESSOR",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "ObjectType RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "28455ecc-0187-1000-0730-7045f418ffa4"
        },
        "destination": {
          "id": "41c61521-b3d9-3bd6-98ac-beb9fa133ffa",
          "type": "PROCESSOR",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "ExecuteSQLRecord",
          "comments": "",
          "instanceIdentifier": "27fb0bd8-0187-1000-9e74-38ea4817ee48"
        },
        "labelIndex": 2,
        "zIndex": 0,
        "selectedRelationships": ["ProducingCountry"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [
          { "x": 1208.0, "y": 528.0 },
          { "x": 1208.0, "y": 336.0 },
          { "x": 1080.0, "y": 336.0 }
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "71eb6902-37a7-3739-b285-93d22d3bc1d6",
        "instanceIdentifier": "28233af9-0187-1000-6dbe-ddde2be85c5f",
        "name": "",
        "source": {
          "id": "631c3aca-8790-3801-888a-dcc2371b8266",
          "type": "PROCESSOR",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "EvaluateJsonPath",
          "comments": "",
          "instanceIdentifier": "282135f4-0187-1000-f9d9-9c1639dc8d04"
        },
        "destination": {
          "id": "090b9cfb-3a62-3019-885d-3d4e609ad9b7",
          "type": "FUNNEL",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "Funnel",
          "comments": "",
          "instanceIdentifier": "5715c850-bff7-3e29-0f08-ca61507417ca"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": ["unmatched"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [
          { "x": 1728.0, "y": 320.0 },
          { "x": 1896.0, "y": 320.0 }
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "6f87c17b-cc62-3366-8e40-e4bfdbe6e351",
        "instanceIdentifier": "28c6ae54-0187-1000-ab5a-bb2461617681",
        "name": "",
        "source": {
          "id": "42c190ad-4ca1-3451-b143-001046194bbb",
          "type": "PROCESSOR",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "ObjectType RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "28455ecc-0187-1000-0730-7045f418ffa4"
        },
        "destination": {
          "id": "41c61521-b3d9-3bd6-98ac-beb9fa133ffa",
          "type": "PROCESSOR",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "ExecuteSQLRecord",
          "comments": "",
          "instanceIdentifier": "27fb0bd8-0187-1000-9e74-38ea4817ee48"
        },
        "labelIndex": 2,
        "zIndex": 0,
        "selectedRelationships": ["Car"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [
          { "x": 1208.0, "y": 528.0 },
          { "x": 1208.0, "y": 384.0 },
          { "x": 1080.0, "y": 384.0 }
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "8b8ca0aa-149a-3c59-b324-28bc9470005e",
        "instanceIdentifier": "70498a2c-f019-339d-65b1-dcce29302810",
        "name": "",
        "source": {
          "id": "7c4b6a27-5bd4-35e6-99d0-49480a5ef0dd",
          "type": "PROCESSOR",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "CH Analytics PutDatabaseRecord",
          "comments": "",
          "instanceIdentifier": "1aff47eb-32ee-3db2-f763-a428a5741019"
        },
        "destination": {
          "id": "42a463b1-aa95-350f-9f49-5d9ddcd5e94e",
          "type": "FUNNEL",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "Funnel",
          "comments": "",
          "instanceIdentifier": "28347bc3-0187-1000-1091-8511a4cdf62f"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": ["retry"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [
          { "x": 752.0, "y": 768.0 },
          { "x": 584.0, "y": 768.0 },
          { "x": 584.0, "y": 712.0 }
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "e82d52b2-7660-362f-be5a-be2f5fb3f637",
        "instanceIdentifier": "28472d4e-0187-1000-7b55-7c68efa202c1",
        "name": "",
        "source": {
          "id": "42c190ad-4ca1-3451-b143-001046194bbb",
          "type": "PROCESSOR",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "ObjectType RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "28455ecc-0187-1000-0730-7045f418ffa4"
        },
        "destination": {
          "id": "090b9cfb-3a62-3019-885d-3d4e609ad9b7",
          "type": "FUNNEL",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "Funnel",
          "comments": "",
          "instanceIdentifier": "5715c850-bff7-3e29-0f08-ca61507417ca"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": ["unmatched"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "b0f5ebea-5e3f-3879-8ca8-4966af8a3ed1",
        "instanceIdentifier": "28186df1-0187-1000-b642-3041fbea4ef3",
        "name": "",
        "source": {
          "id": "6949c96c-2df0-3162-9e16-df959fd0ab12",
          "type": "PROCESSOR",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "SplitJson",
          "comments": "",
          "instanceIdentifier": "28179b43-0187-1000-4d83-a89562df7de8"
        },
        "destination": {
          "id": "631c3aca-8790-3801-888a-dcc2371b8266",
          "type": "PROCESSOR",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "EvaluateJsonPath",
          "comments": "",
          "instanceIdentifier": "282135f4-0187-1000-f9d9-9c1639dc8d04"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": ["split"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "912e128e-d1a8-3805-9917-d56abba67d13",
        "instanceIdentifier": "184098a0-1fe9-3236-47b2-250d22f5b9d5",
        "name": "",
        "source": {
          "id": "c6e3c4e8-902a-3da5-a5be-75c265126555",
          "type": "PROCESSOR",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "CH Audit QueryDatabaseTableRecord",
          "comments": "",
          "instanceIdentifier": "a4be9437-1efb-382d-ef22-e5889364fa3c"
        },
        "destination": {
          "id": "6949c96c-2df0-3162-9e16-df959fd0ab12",
          "type": "PROCESSOR",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "SplitJson",
          "comments": "",
          "instanceIdentifier": "28179b43-0187-1000-4d83-a89562df7de8"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "afd96499-69b8-3178-b0e4-8e86d9bf5976",
        "instanceIdentifier": "28230a1f-0187-1000-eb3f-97b841a1c9eb",
        "name": "",
        "source": {
          "id": "631c3aca-8790-3801-888a-dcc2371b8266",
          "type": "PROCESSOR",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "EvaluateJsonPath",
          "comments": "",
          "instanceIdentifier": "282135f4-0187-1000-f9d9-9c1639dc8d04"
        },
        "destination": {
          "id": "090b9cfb-3a62-3019-885d-3d4e609ad9b7",
          "type": "FUNNEL",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "Funnel",
          "comments": "",
          "instanceIdentifier": "5715c850-bff7-3e29-0f08-ca61507417ca"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": ["failure"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [
          { "x": 1728.0, "y": 264.0 },
          { "x": 1896.0, "y": 264.0 }
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "7fcafb99-355f-3a40-b523-8e9a7400f021",
        "instanceIdentifier": "28188e77-0187-1000-0faf-c1db301c4348",
        "name": "",
        "source": {
          "id": "6949c96c-2df0-3162-9e16-df959fd0ab12",
          "type": "PROCESSOR",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "SplitJson",
          "comments": "",
          "instanceIdentifier": "28179b43-0187-1000-4d83-a89562df7de8"
        },
        "destination": {
          "id": "090b9cfb-3a62-3019-885d-3d4e609ad9b7",
          "type": "FUNNEL",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "Funnel",
          "comments": "",
          "instanceIdentifier": "5715c850-bff7-3e29-0f08-ca61507417ca"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": ["failure"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [
          { "x": 1728.0, "y": 96.0 },
          { "x": 1896.0, "y": 96.0 }
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "3e90b18b-2793-3754-9706-a578eeb7efaa",
        "instanceIdentifier": "4ef82455-c0a8-38dc-355e-bbc2b45c8498",
        "name": "",
        "source": {
          "id": "7c4b6a27-5bd4-35e6-99d0-49480a5ef0dd",
          "type": "PROCESSOR",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "CH Analytics PutDatabaseRecord",
          "comments": "",
          "instanceIdentifier": "1aff47eb-32ee-3db2-f763-a428a5741019"
        },
        "destination": {
          "id": "42a463b1-aa95-350f-9f49-5d9ddcd5e94e",
          "type": "FUNNEL",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "Funnel",
          "comments": "",
          "instanceIdentifier": "28347bc3-0187-1000-1091-8511a4cdf62f"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [{ "x": 752.0, "y": 712.0 }],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "477d3aa8-5b0e-309e-ba4b-30a9de7270a6",
        "instanceIdentifier": "2805c480-0187-1000-d503-0396a6a536ee",
        "name": "",
        "source": {
          "id": "41c61521-b3d9-3bd6-98ac-beb9fa133ffa",
          "type": "PROCESSOR",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "ExecuteSQLRecord",
          "comments": "",
          "instanceIdentifier": "27fb0bd8-0187-1000-9e74-38ea4817ee48"
        },
        "destination": {
          "id": "7c4b6a27-5bd4-35e6-99d0-49480a5ef0dd",
          "type": "PROCESSOR",
          "groupId": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6",
          "name": "CH Analytics PutDatabaseRecord",
          "comments": "",
          "instanceIdentifier": "1aff47eb-32ee-3db2-f763-a428a5741019"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      }
    ],
    "labels": [],
    "funnels": [
      {
        "identifier": "090b9cfb-3a62-3019-885d-3d4e609ad9b7",
        "instanceIdentifier": "5715c850-bff7-3e29-0f08-ca61507417ca",
        "position": { "x": 1872.0, "y": 504.0 },
        "componentType": "FUNNEL",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "42a463b1-aa95-350f-9f49-5d9ddcd5e94e",
        "instanceIdentifier": "28347bc3-0187-1000-1091-8511a4cdf62f",
        "position": { "x": 496.0, "y": 688.0 },
        "componentType": "FUNNEL",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      }
    ],
    "controllerServices": [
      {
        "identifier": "8501bc12-f934-3a15-a607-f53dabc304e9",
        "instanceIdentifier": "28160d4d-0187-1000-1b3b-4578a3caf362",
        "name": "JsonRecordSetWriter",
        "comments": "",
        "type": "org.apache.nifi.json.JsonRecordSetWriter",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "1.20.0"
        },
        "properties": {
          "schema-branch": null,
          "compression-level": "1",
          "schema-cache": null,
          "Timestamp Format": null,
          "Date Format": null,
          "Pretty Print JSON": "false",
          "compression-format": "none",
          "Schema Write Strategy": "no-schema",
          "suppress-nulls": "never-suppress",
          "output-grouping": "output-array",
          "schema-name": "${schema.name}",
          "schema-registry": null,
          "Time Format": null,
          "schema-access-strategy": "inherit-record-schema",
          "schema-protocol-version": "1",
          "schema-version": null,
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "compression-level": {
            "name": "compression-level",
            "displayName": "Compression Level",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-cache": {
            "name": "schema-cache",
            "displayName": "Schema Cache",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Timestamp Format": {
            "name": "Timestamp Format",
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Date Format": {
            "name": "Date Format",
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Pretty Print JSON": {
            "name": "Pretty Print JSON",
            "displayName": "Pretty Print JSON",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "compression-format": {
            "name": "compression-format",
            "displayName": "Compression Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Schema Write Strategy": {
            "name": "Schema Write Strategy",
            "displayName": "Schema Write Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "suppress-nulls": {
            "name": "suppress-nulls",
            "displayName": "Suppress Null Values",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "output-grouping": {
            "name": "output-grouping",
            "displayName": "Output Grouping",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Time Format": {
            "name": "Time Format",
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-protocol-version": {
            "name": "schema-protocol-version",
            "displayName": "Schema Protocol Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.20.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "5c87fb76-43ce-3fc1-aaf0-11322ec11b4c",
        "instanceIdentifier": "9349cbb9-d8c0-36ab-48c3-7948e881b680",
        "name": "DBCPConnectionPoolClickhouseAudit",
        "comments": "",
        "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-dbcp-service-nar",
          "version": "1.20.0"
        },
        "properties": {
          "dbcp-min-idle-conns": "0",
          "Max Wait Time": "500 millis",
          "Database Driver Class Name": "com.clickhouse.jdbc.ClickHouseDriver",
          "dbcp-min-evictable-idle-time": "30 mins",
          "kerberos-principal": null,
          "Max Total Connections": "8",
          "kerberos-credentials-service": null,
          "dbcp-max-conn-lifetime": "-1",
          "Validation-query": null,
          "Database Connection URL": "jdbc:clickhouse://audit-clickhouse-db:8123/default",
          "dbcp-time-between-eviction-runs": "-1",
          "Database User": "default",
          "kerberos-user-service": null,
          "dbcp-soft-min-evictable-idle-time": "-1",
          "database-driver-locations": "/opt/jdbc/clickhouse-jdbc-0.4.1-shaded.jar",
          "dbcp-max-idle-conns": "8"
        },
        "propertyDescriptors": {
          "kerberos-password": {
            "name": "kerberos-password",
            "displayName": "Kerberos Password",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "dbcp-min-idle-conns": {
            "name": "dbcp-min-idle-conns",
            "displayName": "Minimum Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Max Wait Time": {
            "name": "Max Wait Time",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database Driver Class Name": {
            "name": "Database Driver Class Name",
            "displayName": "Database Driver Class Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbcp-min-evictable-idle-time": {
            "name": "dbcp-min-evictable-idle-time",
            "displayName": "Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-principal": {
            "name": "kerberos-principal",
            "displayName": "Kerberos Principal",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Max Total Connections": {
            "name": "Max Total Connections",
            "displayName": "Max Total Connections",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-credentials-service": {
            "name": "kerberos-credentials-service",
            "displayName": "Kerberos Credentials Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "dbcp-max-conn-lifetime": {
            "name": "dbcp-max-conn-lifetime",
            "displayName": "Max Connection Lifetime",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Validation-query": {
            "name": "Validation-query",
            "displayName": "Validation query",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database Connection URL": {
            "name": "Database Connection URL",
            "displayName": "Database Connection URL",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbcp-time-between-eviction-runs": {
            "name": "dbcp-time-between-eviction-runs",
            "displayName": "Time Between Eviction Runs",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database User": {
            "name": "Database User",
            "displayName": "Database User",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-user-service": {
            "name": "kerberos-user-service",
            "displayName": "Kerberos User Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "dbcp-soft-min-evictable-idle-time": {
            "name": "dbcp-soft-min-evictable-idle-time",
            "displayName": "Soft Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "database-driver-locations": {
            "name": "database-driver-locations",
            "displayName": "Database Driver Location(s)",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": ["URL", "DIRECTORY", "FILE"]
            }
          },
          "dbcp-max-idle-conns": {
            "name": "dbcp-max-idle-conns",
            "displayName": "Max Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Password": {
            "name": "Password",
            "displayName": "Password",
            "identifiesControllerService": false,
            "sensitive": true
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.dbcp.DBCPService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.20.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "72a78249-0994-370d-9187-3211f8d3f2d2",
        "instanceIdentifier": "28d246c2-0187-1000-23a0-1a7037b7d088",
        "name": "JsonTreeReader",
        "type": "org.apache.nifi.json.JsonTreeReader",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "1.20.0"
        },
        "properties": {
          "schema-branch": null,
          "schema-application-strategy": "SELECTED_PART",
          "Timestamp Format": null,
          "schema-inference-cache": null,
          "Date Format": null,
          "schema-name": "${schema.name}",
          "starting-field-strategy": "ROOT_NODE",
          "schema-registry": null,
          "starting-field-name": null,
          "Time Format": null,
          "schema-access-strategy": "infer-schema",
          "schema-version": null,
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-application-strategy": {
            "name": "schema-application-strategy",
            "displayName": "Schema Application Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Timestamp Format": {
            "name": "Timestamp Format",
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-inference-cache": {
            "name": "schema-inference-cache",
            "displayName": "Schema Inference Cache",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Date Format": {
            "name": "Date Format",
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "starting-field-strategy": {
            "name": "starting-field-strategy",
            "displayName": "Starting Field Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "starting-field-name": {
            "name": "starting-field-name",
            "displayName": "Starting Field Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Time Format": {
            "name": "Time Format",
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordReaderFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.20.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "91166ae7-cf2e-3f9b-856e-bc115395f1b2",
        "instanceIdentifier": "8a9c4c57-e0f0-3da7-14f3-ada24a5eab61",
        "name": "DBCPConnectionPoolClickhouseAnalytics",
        "comments": "",
        "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-dbcp-service-nar",
          "version": "1.20.0"
        },
        "properties": {
          "dbcp-min-idle-conns": "0",
          "Max Wait Time": "500 millis",
          "Database Driver Class Name": "com.clickhouse.jdbc.ClickHouseDriver",
          "dbcp-min-evictable-idle-time": "30 mins",
          "kerberos-principal": null,
          "Max Total Connections": "8",
          "kerberos-credentials-service": null,
          "dbcp-max-conn-lifetime": "-1",
          "Validation-query": null,
          "Database Connection URL": "jdbc:clickhouse://clickhouse-analytics-db:8123/default",
          "dbcp-time-between-eviction-runs": "-1",
          "Database User": "default",
          "kerberos-user-service": null,
          "dbcp-soft-min-evictable-idle-time": "-1",
          "database-driver-locations": "/opt/jdbc/clickhouse-jdbc-0.4.1-shaded.jar",
          "dbcp-max-idle-conns": "8"
        },
        "propertyDescriptors": {
          "kerberos-password": {
            "name": "kerberos-password",
            "displayName": "Kerberos Password",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "dbcp-min-idle-conns": {
            "name": "dbcp-min-idle-conns",
            "displayName": "Minimum Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Max Wait Time": {
            "name": "Max Wait Time",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database Driver Class Name": {
            "name": "Database Driver Class Name",
            "displayName": "Database Driver Class Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbcp-min-evictable-idle-time": {
            "name": "dbcp-min-evictable-idle-time",
            "displayName": "Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-principal": {
            "name": "kerberos-principal",
            "displayName": "Kerberos Principal",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Max Total Connections": {
            "name": "Max Total Connections",
            "displayName": "Max Total Connections",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-credentials-service": {
            "name": "kerberos-credentials-service",
            "displayName": "Kerberos Credentials Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "dbcp-max-conn-lifetime": {
            "name": "dbcp-max-conn-lifetime",
            "displayName": "Max Connection Lifetime",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Validation-query": {
            "name": "Validation-query",
            "displayName": "Validation query",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database Connection URL": {
            "name": "Database Connection URL",
            "displayName": "Database Connection URL",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbcp-time-between-eviction-runs": {
            "name": "dbcp-time-between-eviction-runs",
            "displayName": "Time Between Eviction Runs",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database User": {
            "name": "Database User",
            "displayName": "Database User",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-user-service": {
            "name": "kerberos-user-service",
            "displayName": "Kerberos User Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "dbcp-soft-min-evictable-idle-time": {
            "name": "dbcp-soft-min-evictable-idle-time",
            "displayName": "Soft Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "database-driver-locations": {
            "name": "database-driver-locations",
            "displayName": "Database Driver Location(s)",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": ["URL", "DIRECTORY", "FILE"]
            }
          },
          "dbcp-max-idle-conns": {
            "name": "dbcp-max-idle-conns",
            "displayName": "Max Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Password": {
            "name": "Password",
            "displayName": "Password",
            "identifiesControllerService": false,
            "sensitive": true
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.dbcp.DBCPService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.20.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      },
      {
        "identifier": "b0d79805-9efa-3e1c-9ef4-49b4219c3428",
        "instanceIdentifier": "27f66956-0187-1000-298e-0830c01c1301",
        "name": "DBCPConnectionPoolPostgreSQL",
        "comments": "",
        "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-dbcp-service-nar",
          "version": "1.20.0"
        },
        "properties": {
          "dbcp-min-idle-conns": "0",
          "Max Wait Time": "500 millis",
          "Database Driver Class Name": "org.postgresql.Driver",
          "dbcp-min-evictable-idle-time": "30 mins",
          "kerberos-principal": null,
          "Max Total Connections": "8",
          "kerberos-credentials-service": null,
          "dbcp-max-conn-lifetime": "-1",
          "Validation-query": null,
          "Database Connection URL": "jdbc:postgresql://app-postgre-db:5432/appdb",
          "dbcp-time-between-eviction-runs": "-1",
          "Database User": "flexberryuser",
          "kerberos-user-service": null,
          "dbcp-soft-min-evictable-idle-time": "-1",
          "database-driver-locations": "/opt/jdbc/postgresql-42.5.4.jar",
          "dbcp-max-idle-conns": "8"
        },
        "propertyDescriptors": {
          "kerberos-password": {
            "name": "kerberos-password",
            "displayName": "Kerberos Password",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "dbcp-min-idle-conns": {
            "name": "dbcp-min-idle-conns",
            "displayName": "Minimum Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Max Wait Time": {
            "name": "Max Wait Time",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database Driver Class Name": {
            "name": "Database Driver Class Name",
            "displayName": "Database Driver Class Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbcp-min-evictable-idle-time": {
            "name": "dbcp-min-evictable-idle-time",
            "displayName": "Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-principal": {
            "name": "kerberos-principal",
            "displayName": "Kerberos Principal",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Max Total Connections": {
            "name": "Max Total Connections",
            "displayName": "Max Total Connections",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-credentials-service": {
            "name": "kerberos-credentials-service",
            "displayName": "Kerberos Credentials Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "dbcp-max-conn-lifetime": {
            "name": "dbcp-max-conn-lifetime",
            "displayName": "Max Connection Lifetime",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Validation-query": {
            "name": "Validation-query",
            "displayName": "Validation query",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database Connection URL": {
            "name": "Database Connection URL",
            "displayName": "Database Connection URL",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbcp-time-between-eviction-runs": {
            "name": "dbcp-time-between-eviction-runs",
            "displayName": "Time Between Eviction Runs",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database User": {
            "name": "Database User",
            "displayName": "Database User",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-user-service": {
            "name": "kerberos-user-service",
            "displayName": "Kerberos User Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "dbcp-soft-min-evictable-idle-time": {
            "name": "dbcp-soft-min-evictable-idle-time",
            "displayName": "Soft Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "database-driver-locations": {
            "name": "database-driver-locations",
            "displayName": "Database Driver Location(s)",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": ["URL", "DIRECTORY", "FILE"]
            }
          },
          "dbcp-max-idle-conns": {
            "name": "dbcp-max-idle-conns",
            "displayName": "Max Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Password": {
            "name": "Password",
            "displayName": "Password",
            "identifiesControllerService": false,
            "sensitive": true
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.dbcp.DBCPService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.20.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "1ef06e2f-bc0e-3795-9d8a-d552bc13dad6"
      }
    ],
    "variables": {},
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "componentType": "PROCESS_GROUP",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE"
  },
  "externalControllerServices": {},
  "parameterContexts": {},
  "flowEncodingVersion": "1.0",
  "parameterProviders": {},
  "latest": false
}
