templates/NiFi_Log_to_LokiAPI.json
{"flowContents":{"identifier":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e","instanceIdentifier":"21fec4e6-0187-1000-7b29-3efb860660e7","name":"NiFi_Flow_LogFile","comments":"","position":{"x":515.0,"y":148.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"10393735-802a-3665-9a33-442157d9238a","instanceIdentifier":"56e86592-b8a2-3dc6-9268-0c8f9d91fae0","name":"JSLTTransformJSON","comments":"","position":{"x":384.0,"y":672.0},"type":"org.apache.nifi.processors.jslt.JSLTTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jslt-nar","version":"1.20.0"},"properties":{"jslt-transform-pretty_print":"false","jslt-transform-transformation":"let dt = parse-time(.date, \"yyyy-MM-dd HH:mm:ss\")\nlet dts = split($dt + \"\", \"E\")\nlet fff = split(.date, \",\")[1]\nlet ts = $dts[0][0] + $dts[0][2 : 11] + $fff + \"000000\"\nlet nano = split($ts + \"\", \".\")[1]\nlet dt_str = format-time($dt, \"yyyy-MM-dd HH:mm:ss\")\n\n{\n  \"streams\": [\n    {\n      \"stream\": {\n        \"Level\" : .Level,\n        \"thread\" : .thread,\n        \"logger\" : .logger,\n      },\n      \"values\": [\n          [ $ts, .message ]\n      ]\n    }\n  ]\n}\n","jslt-transform-cache-size":"1"},"propertyDescriptors":{"jslt-transform-pretty_print":{"name":"jslt-transform-pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"jslt-transform-transformation":{"name":"jslt-transform-transformation","displayName":"JSLT Transformation","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"jslt-transform-cache-size":{"name":"jslt-transform-cache-size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e"},{"identifier":"6eba7c0b-a7a2-3819-9250-7255291f92ec","instanceIdentifier":"0c894eec-7dc3-3032-97f2-dd2be7fad5e6","name":"SplitJson","comments":"","position":{"x":384.0,"y":472.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e"},{"identifier":"4d78f17a-9911-3556-96c9-ff13111b17e5","instanceIdentifier":"102efd71-45e0-3f25-d3ff-24318689a4c0","name":"DebugFlow","comments":"","position":{"x":1176.0,"y":288.0},"type":"org.apache.nifi.processors.standard.DebugFlow","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Write Iterations":"0","No FlowFile Skip Iterations":"1","No FlowFile Exception Iterations":"0","Fail When @OnUnscheduled called":"false","No FlowFile Yield Iterations":"0","FlowFile Failure Iterations":"0","CustomValidate Pause Time":"0 sec","@OnScheduled Pause Time":"0 sec","Fail When @OnStopped called":"false","FlowFile Rollback Penalty Iterations":"0","Content Size":"1 KB","FlowFile Rollback Yield Iterations":"0","FlowFile Rollback Iterations":"0","No FlowFile Exception Class":"java.lang.RuntimeException","Ignore Interrupts When Paused":"false","Fail When @OnScheduled called":"false","@OnUnscheduled Pause Time":"0 sec","FlowFile Exception Iterations":"0","FlowFile Success Iterations":"1","@OnStopped Pause Time":"0 sec","FlowFile Exception Class":"java.lang.RuntimeException","OnTrigger Pause Time":"0 sec"},"propertyDescriptors":{"Write Iterations":{"name":"Write Iterations","displayName":"Write Iterations","identifiesControllerService":false,"sensitive":false},"No FlowFile Skip Iterations":{"name":"No FlowFile Skip Iterations","displayName":"No FlowFile Skip Iterations","identifiesControllerService":false,"sensitive":false},"No FlowFile Exception Iterations":{"name":"No FlowFile Exception Iterations","displayName":"No FlowFile Exception Iterations","identifiesControllerService":false,"sensitive":false},"Fail When @OnUnscheduled called":{"name":"Fail When @OnUnscheduled called","displayName":"Fail When @OnUnscheduled called","identifiesControllerService":false,"sensitive":false},"No FlowFile Yield Iterations":{"name":"No FlowFile Yield Iterations","displayName":"No FlowFile Yield Iterations","identifiesControllerService":false,"sensitive":false},"FlowFile Failure Iterations":{"name":"FlowFile Failure Iterations","displayName":"FlowFile Failure Iterations","identifiesControllerService":false,"sensitive":false},"CustomValidate Pause Time":{"name":"CustomValidate Pause Time","displayName":"CustomValidate Pause Time","identifiesControllerService":false,"sensitive":false},"@OnScheduled Pause Time":{"name":"@OnScheduled Pause Time","displayName":"@OnScheduled Pause Time","identifiesControllerService":false,"sensitive":false},"Fail When @OnStopped called":{"name":"Fail When @OnStopped called","displayName":"Fail When @OnStopped called","identifiesControllerService":false,"sensitive":false},"FlowFile Rollback Penalty Iterations":{"name":"FlowFile Rollback Penalty Iterations","displayName":"FlowFile Rollback Penalty Iterations","identifiesControllerService":false,"sensitive":false},"Content Size":{"name":"Content Size","displayName":"Content Size","identifiesControllerService":false,"sensitive":false},"FlowFile Rollback Yield Iterations":{"name":"FlowFile Rollback Yield Iterations","displayName":"FlowFile Rollback Yield Iterations","identifiesControllerService":false,"sensitive":false},"FlowFile Rollback Iterations":{"name":"FlowFile Rollback Iterations","displayName":"FlowFile Rollback Iterations","identifiesControllerService":false,"sensitive":false},"No FlowFile Exception Class":{"name":"No FlowFile Exception Class","displayName":"No FlowFile Exception Class","identifiesControllerService":false,"sensitive":false},"Ignore Interrupts When Paused":{"name":"Ignore Interrupts When Paused","displayName":"Ignore Interrupts When Paused","identifiesControllerService":false,"sensitive":false},"Fail When @OnScheduled called":{"name":"Fail When @OnScheduled called","displayName":"Fail When @OnScheduled called","identifiesControllerService":false,"sensitive":false},"@OnUnscheduled Pause Time":{"name":"@OnUnscheduled Pause Time","displayName":"@OnUnscheduled Pause Time","identifiesControllerService":false,"sensitive":false},"FlowFile Exception Iterations":{"name":"FlowFile Exception Iterations","displayName":"FlowFile Exception Iterations","identifiesControllerService":false,"sensitive":false},"FlowFile Success Iterations":{"name":"FlowFile Success Iterations","displayName":"FlowFile Success Iterations","identifiesControllerService":false,"sensitive":false},"@OnStopped Pause Time":{"name":"@OnStopped Pause Time","displayName":"@OnStopped Pause Time","identifiesControllerService":false,"sensitive":false},"FlowFile Exception Class":{"name":"FlowFile Exception Class","displayName":"FlowFile Exception Class","identifiesControllerService":false,"sensitive":false},"OnTrigger Pause Time":{"name":"OnTrigger Pause Time","displayName":"OnTrigger Pause Time","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e"},{"identifier":"10343d47-0f34-3c23-8070-ce4143fd83e3","instanceIdentifier":"d4ca0f00-63cc-3908-d437-f6aca69afcd9","name":"TailFile AppLog","comments":"","position":{"x":384.0,"y":32.0},"type":"org.apache.nifi.processors.standard.TailFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"tailfile-recursive-lookup":"false","File Location":"Local","Line Start Pattern":null,"Rolling Filename Pattern":null,"Initial Start Position":"Beginning of File","pre-allocated-buffer-size":"65536 B","Post-Rollover Tail Period":"60 sec","tail-base-directory":null,"reread-on-nul":"false","tailfile-maximum-age":"24 hours","Max Buffer Size":"64 KB","File to Tail":"./logs/nifi-app.log","tailfile-lookup-frequency":"10 minutes","tail-mode":"Single file"},"propertyDescriptors":{"tailfile-recursive-lookup":{"name":"tailfile-recursive-lookup","displayName":"Recursive lookup","identifiesControllerService":false,"sensitive":false},"File Location":{"name":"File Location","displayName":"State Location","identifiesControllerService":false,"sensitive":false},"Line Start Pattern":{"name":"Line Start Pattern","displayName":"Line Start Pattern","identifiesControllerService":false,"sensitive":false},"Rolling Filename Pattern":{"name":"Rolling Filename Pattern","displayName":"Rolling Filename Pattern","identifiesControllerService":false,"sensitive":false},"Initial Start Position":{"name":"Initial Start Position","displayName":"Initial Start Position","identifiesControllerService":false,"sensitive":false},"pre-allocated-buffer-size":{"name":"pre-allocated-buffer-size","displayName":"Pre-Allocated Buffer Size","identifiesControllerService":false,"sensitive":false},"Post-Rollover Tail Period":{"name":"Post-Rollover Tail Period","displayName":"Post-Rollover Tail Period","identifiesControllerService":false,"sensitive":false},"tail-base-directory":{"name":"tail-base-directory","displayName":"Base directory","identifiesControllerService":false,"sensitive":false},"reread-on-nul":{"name":"reread-on-nul","displayName":"Reread when NUL encountered","identifiesControllerService":false,"sensitive":false},"tailfile-maximum-age":{"name":"tailfile-maximum-age","displayName":"Maximum age","identifiesControllerService":false,"sensitive":false},"Max Buffer Size":{"name":"Max Buffer Size","displayName":"Max Buffer Size","identifiesControllerService":false,"sensitive":false},"File to Tail":{"name":"File to Tail","displayName":"File(s) to Tail","identifiesControllerService":false,"sensitive":false},"tailfile-lookup-frequency":{"name":"tailfile-lookup-frequency","displayName":"Lookup frequency","identifiesControllerService":false,"sensitive":false},"tail-mode":{"name":"tail-mode","displayName":"Tailing mode","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e"},{"identifier":"4d195d27-4b45-3764-8e7d-55eb3fcdcc6b","instanceIdentifier":"ee03d2f8-0f36-353f-9a1d-c49142dfbd4c","name":"InvokeHTTP Loki API","comments":"","position":{"x":384.0,"y":896.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://loki:3100/loki/api/v1/push","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e"},{"identifier":"5b3cea41-9715-334d-8dc1-7ce394a6d5a6","instanceIdentifier":"16035d94-d8d1-30fe-f238-8d466671907c","name":"ConvertRecord","comments":"","position":{"x":384.0,"y":256.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"record-writer":"88ac3310-49d9-3a26-968a-7e93939953aa","record-reader":"ca679953-65c0-3601-9ec2-705d0ba29e82","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"6ff5b542-7a35-3fa9-8160-3b54d3290859","instanceIdentifier":"eaab473c-87c0-342f-9bed-ad449755b390","name":"","source":{"id":"10393735-802a-3665-9a33-442157d9238a","type":"PROCESSOR","groupId":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"56e86592-b8a2-3dc6-9268-0c8f9d91fae0"},"destination":{"id":"4d195d27-4b45-3764-8e7d-55eb3fcdcc6b","type":"PROCESSOR","groupId":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e","name":"InvokeHTTP Loki API","comments":"","instanceIdentifier":"ee03d2f8-0f36-353f-9a1d-c49142dfbd4c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":560.0,"y":848.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e"},{"identifier":"1e343d01-91f9-3b2f-9fbd-f4a728ae84df","instanceIdentifier":"a2bb8073-9486-3d29-e2a8-08c35c4447e0","name":"","source":{"id":"6eba7c0b-a7a2-3819-9250-7255291f92ec","type":"PROCESSOR","groupId":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e","name":"SplitJson","comments":"","instanceIdentifier":"0c894eec-7dc3-3032-97f2-dd2be7fad5e6"},"destination":{"id":"0c51c627-e1fc-305b-93c8-96e91831f30a","type":"FUNNEL","groupId":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e","name":"Funnel","comments":"","instanceIdentifier":"65bea536-8fdb-3734-ad38-2eaa9210d9df"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1560.0,"y":736.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e"},{"identifier":"8fe90d08-f068-309a-a6f9-8ab4aadd1dea","instanceIdentifier":"7035e15a-c19f-391c-95dc-50906ef9e9ff","name":"","source":{"id":"10343d47-0f34-3c23-8070-ce4143fd83e3","type":"PROCESSOR","groupId":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e","name":"TailFile AppLog","comments":"","instanceIdentifier":"d4ca0f00-63cc-3908-d437-f6aca69afcd9"},"destination":{"id":"5b3cea41-9715-334d-8dc1-7ce394a6d5a6","type":"PROCESSOR","groupId":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e","name":"ConvertRecord","comments":"","instanceIdentifier":"16035d94-d8d1-30fe-f238-8d466671907c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e"},{"identifier":"916e07eb-3deb-3d2e-ab7b-5bffb3302e77","instanceIdentifier":"ef4f20a5-7421-3801-ef5e-62e1da0c2ebe","name":"","source":{"id":"10393735-802a-3665-9a33-442157d9238a","type":"PROCESSOR","groupId":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"56e86592-b8a2-3dc6-9268-0c8f9d91fae0"},"destination":{"id":"4d78f17a-9911-3556-96c9-ff13111b17e5","type":"PROCESSOR","groupId":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e","name":"DebugFlow","comments":"","instanceIdentifier":"102efd71-45e0-3f25-d3ff-24318689a4c0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":920.0,"y":736.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e"},{"identifier":"32c298ca-432b-3048-9e4e-2f75bf6d6719","instanceIdentifier":"2202c11a-0187-1000-6308-e713ebf4577f","name":"","source":{"id":"4d195d27-4b45-3764-8e7d-55eb3fcdcc6b","type":"PROCESSOR","groupId":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e","name":"InvokeHTTP Loki API","comments":"","instanceIdentifier":"ee03d2f8-0f36-353f-9a1d-c49142dfbd4c"},"destination":{"id":"0c51c627-e1fc-305b-93c8-96e91831f30a","type":"FUNNEL","groupId":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e","name":"Funnel","comments":"","instanceIdentifier":"65bea536-8fdb-3734-ad38-2eaa9210d9df"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1328.0,"y":912.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e"},{"identifier":"cd4a48f8-c307-3fa6-8f17-bbe56b5f5f7b","instanceIdentifier":"b801e43f-5eef-334f-a1a6-3410f5938a61","name":"","source":{"id":"6eba7c0b-a7a2-3819-9250-7255291f92ec","type":"PROCESSOR","groupId":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e","name":"SplitJson","comments":"","instanceIdentifier":"0c894eec-7dc3-3032-97f2-dd2be7fad5e6"},"destination":{"id":"4d78f17a-9911-3556-96c9-ff13111b17e5","type":"PROCESSOR","groupId":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e","name":"DebugFlow","comments":"","instanceIdentifier":"102efd71-45e0-3f25-d3ff-24318689a4c0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":920.0,"y":536.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e"},{"identifier":"977df46e-f000-364d-b279-9831fcf418b3","instanceIdentifier":"220fde5a-0187-1000-5b1b-be019b15f7b3","name":"","source":{"id":"5b3cea41-9715-334d-8dc1-7ce394a6d5a6","type":"PROCESSOR","groupId":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e","name":"ConvertRecord","comments":"","instanceIdentifier":"16035d94-d8d1-30fe-f238-8d466671907c"},"destination":{"id":"4d78f17a-9911-3556-96c9-ff13111b17e5","type":"PROCESSOR","groupId":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e","name":"DebugFlow","comments":"","instanceIdentifier":"102efd71-45e0-3f25-d3ff-24318689a4c0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":920.0,"y":320.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e"},{"identifier":"9a78b5cb-00f3-38cd-a41d-389a8a0afee9","instanceIdentifier":"6a2498e5-668f-3108-6ea7-33766ed93707","name":"","source":{"id":"5b3cea41-9715-334d-8dc1-7ce394a6d5a6","type":"PROCESSOR","groupId":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e","name":"ConvertRecord","comments":"","instanceIdentifier":"16035d94-d8d1-30fe-f238-8d466671907c"},"destination":{"id":"6eba7c0b-a7a2-3819-9250-7255291f92ec","type":"PROCESSOR","groupId":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e","name":"SplitJson","comments":"","instanceIdentifier":"0c894eec-7dc3-3032-97f2-dd2be7fad5e6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e"},{"identifier":"b7ca05c8-a7aa-33f2-8121-1d2630e552f0","instanceIdentifier":"daa102a8-5dd8-3279-a52c-38790738492f","name":"","source":{"id":"6eba7c0b-a7a2-3819-9250-7255291f92ec","type":"PROCESSOR","groupId":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e","name":"SplitJson","comments":"","instanceIdentifier":"0c894eec-7dc3-3032-97f2-dd2be7fad5e6"},"destination":{"id":"10393735-802a-3665-9a33-442157d9238a","type":"PROCESSOR","groupId":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"56e86592-b8a2-3dc6-9268-0c8f9d91fae0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e"},{"identifier":"4d86e75c-d0d6-366f-a9ac-084e831c0cad","instanceIdentifier":"843c3be9-a8af-3cc9-1950-d1c65ab9c78d","name":"","source":{"id":"4d195d27-4b45-3764-8e7d-55eb3fcdcc6b","type":"PROCESSOR","groupId":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e","name":"InvokeHTTP Loki API","comments":"","instanceIdentifier":"ee03d2f8-0f36-353f-9a1d-c49142dfbd4c"},"destination":{"id":"0c51c627-e1fc-305b-93c8-96e91831f30a","type":"FUNNEL","groupId":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e","name":"Funnel","comments":"","instanceIdentifier":"65bea536-8fdb-3734-ad38-2eaa9210d9df"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","No Retry","Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e"},{"identifier":"6296d486-60c7-3573-b8ae-9167809f02fe","instanceIdentifier":"34a17a21-4ede-3909-932c-20c570776ffe","name":"","source":{"id":"4d195d27-4b45-3764-8e7d-55eb3fcdcc6b","type":"PROCESSOR","groupId":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e","name":"InvokeHTTP Loki API","comments":"","instanceIdentifier":"ee03d2f8-0f36-353f-9a1d-c49142dfbd4c"},"destination":{"id":"4d78f17a-9911-3556-96c9-ff13111b17e5","type":"PROCESSOR","groupId":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e","name":"DebugFlow","comments":"","instanceIdentifier":"102efd71-45e0-3f25-d3ff-24318689a4c0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":912.0,"y":928.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e"}],"labels":[],"funnels":[{"identifier":"0c51c627-e1fc-305b-93c8-96e91831f30a","instanceIdentifier":"65bea536-8fdb-3734-ad38-2eaa9210d9df","position":{"x":1544.0,"y":952.0},"componentType":"FUNNEL","groupIdentifier":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e"}],"controllerServices":[{"identifier":"88ac3310-49d9-3a26-968a-7e93939953aa","instanceIdentifier":"3162acd4-9878-37f9-7c2d-9b77d46ddb61","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e"},{"identifier":"ca679953-65c0-3601-9ec2-705d0ba29e82","instanceIdentifier":"51f8ffaf-21b5-3d8a-907b-4f5e46d9bd9a","name":"GrokReader","comments":"","type":"org.apache.nifi.grok.GrokReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0"},"properties":{"Grok Expression":"%{TIMESTAMP_ISO8601:date} %{LOGLEVEL:Level} \\[%{DATA:thread}] %{DATA:logger} %{GREEDYDATA:message}","Grok Pattern File":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"no-match-behavior":"append-to-previous-message","schema-access-strategy":"string-fields-from-grok-expression","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Grok Expression":{"name":"Grok Expression","displayName":"Grok Expressions","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["URL","FILE","TEXT"]}},"Grok Pattern File":{"name":"Grok Pattern File","displayName":"Grok Patterns","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["URL","FILE","TEXT"]}},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"no-match-behavior":{"name":"no-match-behavior","displayName":"No Match Behavior","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9f8baac0-fca8-3e36-90c0-7abd2d0c064e"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}