templates/NiFi_Flow.json
{"flowContents":{"identifier":"80b4df53-7277-3b32-8d65-47cdf26a2695","instanceIdentifier":"2361b8e4-0187-1000-495b-f40334794606","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"e8455544-a331-3099-a75f-589738757af5","instanceIdentifier":"318b0ddb-0187-1000-6c19-2759ef71cf9f","name":"NiFi_Log_to_LokiAPI","comments":"","position":{"x":1760.0,"y":784.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"10393735-802a-3665-9a33-442157d9238a","instanceIdentifier":"43554f47-c820-3b66-5460-8dd9651a9216","name":"JSLTTransformJSON","comments":"","position":{"x":384.0,"y":672.0},"type":"org.apache.nifi.processors.jslt.JSLTTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jslt-nar","version":"1.20.0"},"properties":{"jslt-transform-pretty_print":"false","jslt-transform-transformation":"let dt = parse-time(.date, \"yyyy-MM-dd HH:mm:ss\")\nlet dts = split($dt + \"\", \"E\")\nlet fff = split(.date, \",\")[1]\nlet ts = $dts[0][0] + $dts[0][2 : 11] + $fff + \"000000\"\nlet nano = split($ts + \"\", \".\")[1]\nlet dt_str = format-time($dt, \"yyyy-MM-dd HH:mm:ss\")\n\n{\n  \"streams\": [\n    {\n      \"stream\": {\n        \"Level\" : .Level,\n        \"thread\" : .thread,\n        \"logger\" : .logger,\n      },\n      \"values\": [\n          [ $ts, .message ]\n      ]\n    }\n  ]\n}\n","jslt-transform-cache-size":"1"},"propertyDescriptors":{"jslt-transform-pretty_print":{"name":"jslt-transform-pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"jslt-transform-transformation":{"name":"jslt-transform-transformation","displayName":"JSLT Transformation","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jslt-transform-cache-size":{"name":"jslt-transform-cache-size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e8455544-a331-3099-a75f-589738757af5"},{"identifier":"6eba7c0b-a7a2-3819-9250-7255291f92ec","instanceIdentifier":"29be106e-2344-37a2-e55a-86bf2249f789","name":"SplitJson","comments":"","position":{"x":384.0,"y":472.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e8455544-a331-3099-a75f-589738757af5"},{"identifier":"10343d47-0f34-3c23-8070-ce4143fd83e3","instanceIdentifier":"69614bb3-bebe-3eaa-cb72-c282d6e4b27a","name":"TailFile AppLog","comments":"","position":{"x":384.0,"y":32.0},"type":"org.apache.nifi.processors.standard.TailFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"tailfile-recursive-lookup":"false","File Location":"Local","Line Start Pattern":null,"Rolling Filename Pattern":null,"Initial Start Position":"Beginning of File","pre-allocated-buffer-size":"65536 B","Post-Rollover Tail Period":"60 sec","tail-base-directory":null,"reread-on-nul":"false","tailfile-maximum-age":"24 hours","Max Buffer Size":"64 KB","File to Tail":"./logs/nifi-app.log","tailfile-lookup-frequency":"10 minutes","tail-mode":"Single file"},"propertyDescriptors":{"tailfile-recursive-lookup":{"name":"tailfile-recursive-lookup","displayName":"Recursive lookup","identifiesControllerService":false,"sensitive":false},"File Location":{"name":"File Location","displayName":"State Location","identifiesControllerService":false,"sensitive":false},"Line Start Pattern":{"name":"Line Start Pattern","displayName":"Line Start Pattern","identifiesControllerService":false,"sensitive":false},"Rolling Filename Pattern":{"name":"Rolling Filename Pattern","displayName":"Rolling Filename Pattern","identifiesControllerService":false,"sensitive":false},"Initial Start Position":{"name":"Initial Start Position","displayName":"Initial Start Position","identifiesControllerService":false,"sensitive":false},"pre-allocated-buffer-size":{"name":"pre-allocated-buffer-size","displayName":"Pre-Allocated Buffer Size","identifiesControllerService":false,"sensitive":false},"Post-Rollover Tail Period":{"name":"Post-Rollover Tail Period","displayName":"Post-Rollover Tail Period","identifiesControllerService":false,"sensitive":false},"tail-base-directory":{"name":"tail-base-directory","displayName":"Base directory","identifiesControllerService":false,"sensitive":false},"reread-on-nul":{"name":"reread-on-nul","displayName":"Reread when NUL encountered","identifiesControllerService":false,"sensitive":false},"tailfile-maximum-age":{"name":"tailfile-maximum-age","displayName":"Maximum age","identifiesControllerService":false,"sensitive":false},"Max Buffer Size":{"name":"Max Buffer Size","displayName":"Max Buffer Size","identifiesControllerService":false,"sensitive":false},"File to Tail":{"name":"File to Tail","displayName":"File(s) to Tail","identifiesControllerService":false,"sensitive":false},"tailfile-lookup-frequency":{"name":"tailfile-lookup-frequency","displayName":"Lookup frequency","identifiesControllerService":false,"sensitive":false},"tail-mode":{"name":"tail-mode","displayName":"Tailing mode","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e8455544-a331-3099-a75f-589738757af5"},{"identifier":"4d78f17a-9911-3556-96c9-ff13111b17e5","instanceIdentifier":"0e150aef-cf80-316b-4c43-eaf4fedc6f8f","name":"DebugFlow","comments":"","position":{"x":1176.0,"y":288.0},"type":"org.apache.nifi.processors.standard.DebugFlow","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Write Iterations":"0","No FlowFile Skip Iterations":"1","No FlowFile Exception Iterations":"0","Fail When @OnUnscheduled called":"false","No FlowFile Yield Iterations":"0","FlowFile Failure Iterations":"0","CustomValidate Pause Time":"0 sec","@OnScheduled Pause Time":"0 sec","Fail When @OnStopped called":"false","FlowFile Rollback Penalty Iterations":"0","Content Size":"1 KB","FlowFile Rollback Yield Iterations":"0","FlowFile Rollback Iterations":"0","No FlowFile Exception Class":"java.lang.RuntimeException","Ignore Interrupts When Paused":"false","Fail When @OnScheduled called":"false","@OnUnscheduled Pause Time":"0 sec","FlowFile Exception Iterations":"0","FlowFile Success Iterations":"1","@OnStopped Pause Time":"0 sec","FlowFile Exception Class":"java.lang.RuntimeException","OnTrigger Pause Time":"0 sec"},"propertyDescriptors":{"Write Iterations":{"name":"Write Iterations","displayName":"Write Iterations","identifiesControllerService":false,"sensitive":false},"No FlowFile Skip Iterations":{"name":"No FlowFile Skip Iterations","displayName":"No FlowFile Skip Iterations","identifiesControllerService":false,"sensitive":false},"No FlowFile Exception Iterations":{"name":"No FlowFile Exception Iterations","displayName":"No FlowFile Exception Iterations","identifiesControllerService":false,"sensitive":false},"Fail When @OnUnscheduled called":{"name":"Fail When @OnUnscheduled called","displayName":"Fail When @OnUnscheduled called","identifiesControllerService":false,"sensitive":false},"No FlowFile Yield Iterations":{"name":"No FlowFile Yield Iterations","displayName":"No FlowFile Yield Iterations","identifiesControllerService":false,"sensitive":false},"FlowFile Failure Iterations":{"name":"FlowFile Failure Iterations","displayName":"FlowFile Failure Iterations","identifiesControllerService":false,"sensitive":false},"CustomValidate Pause Time":{"name":"CustomValidate Pause Time","displayName":"CustomValidate Pause Time","identifiesControllerService":false,"sensitive":false},"@OnScheduled Pause Time":{"name":"@OnScheduled Pause Time","displayName":"@OnScheduled Pause Time","identifiesControllerService":false,"sensitive":false},"Fail When @OnStopped called":{"name":"Fail When @OnStopped called","displayName":"Fail When @OnStopped called","identifiesControllerService":false,"sensitive":false},"FlowFile Rollback Penalty Iterations":{"name":"FlowFile Rollback Penalty Iterations","displayName":"FlowFile Rollback Penalty Iterations","identifiesControllerService":false,"sensitive":false},"Content Size":{"name":"Content Size","displayName":"Content Size","identifiesControllerService":false,"sensitive":false},"FlowFile Rollback Yield Iterations":{"name":"FlowFile Rollback Yield Iterations","displayName":"FlowFile Rollback Yield Iterations","identifiesControllerService":false,"sensitive":false},"FlowFile Rollback Iterations":{"name":"FlowFile Rollback Iterations","displayName":"FlowFile Rollback Iterations","identifiesControllerService":false,"sensitive":false},"No FlowFile Exception Class":{"name":"No FlowFile Exception Class","displayName":"No FlowFile Exception Class","identifiesControllerService":false,"sensitive":false},"Ignore Interrupts When Paused":{"name":"Ignore Interrupts When Paused","displayName":"Ignore Interrupts When Paused","identifiesControllerService":false,"sensitive":false},"Fail When @OnScheduled called":{"name":"Fail When @OnScheduled called","displayName":"Fail When @OnScheduled called","identifiesControllerService":false,"sensitive":false},"@OnUnscheduled Pause Time":{"name":"@OnUnscheduled Pause Time","displayName":"@OnUnscheduled Pause Time","identifiesControllerService":false,"sensitive":false},"FlowFile Exception Iterations":{"name":"FlowFile Exception Iterations","displayName":"FlowFile Exception Iterations","identifiesControllerService":false,"sensitive":false},"FlowFile Success Iterations":{"name":"FlowFile Success Iterations","displayName":"FlowFile Success Iterations","identifiesControllerService":false,"sensitive":false},"@OnStopped Pause Time":{"name":"@OnStopped Pause Time","displayName":"@OnStopped Pause Time","identifiesControllerService":false,"sensitive":false},"FlowFile Exception Class":{"name":"FlowFile Exception Class","displayName":"FlowFile Exception Class","identifiesControllerService":false,"sensitive":false},"OnTrigger Pause Time":{"name":"OnTrigger Pause Time","displayName":"OnTrigger Pause Time","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e8455544-a331-3099-a75f-589738757af5"},{"identifier":"4d195d27-4b45-3764-8e7d-55eb3fcdcc6b","instanceIdentifier":"2eadd325-4f90-3a1f-a11e-5afa239a8e1a","name":"InvokeHTTP Loki API","comments":"","position":{"x":384.0,"y":896.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://loki:3100/loki/api/v1/push","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e8455544-a331-3099-a75f-589738757af5"},{"identifier":"5b3cea41-9715-334d-8dc1-7ce394a6d5a6","instanceIdentifier":"76a0bdb5-60d4-38bf-9e2c-6dceb8e427a8","name":"ConvertRecord","comments":"","position":{"x":384.0,"y":256.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"record-writer":"88ac3310-49d9-3a26-968a-7e93939953aa","record-reader":"ca679953-65c0-3601-9ec2-705d0ba29e82","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e8455544-a331-3099-a75f-589738757af5"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"6ff5b542-7a35-3fa9-8160-3b54d3290859","instanceIdentifier":"c4a6e418-17a2-3e0d-3725-cdacc94e1c2e","name":"","source":{"id":"10393735-802a-3665-9a33-442157d9238a","type":"PROCESSOR","groupId":"e8455544-a331-3099-a75f-589738757af5","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"43554f47-c820-3b66-5460-8dd9651a9216"},"destination":{"id":"4d195d27-4b45-3764-8e7d-55eb3fcdcc6b","type":"PROCESSOR","groupId":"e8455544-a331-3099-a75f-589738757af5","name":"InvokeHTTP Loki API","comments":"","instanceIdentifier":"2eadd325-4f90-3a1f-a11e-5afa239a8e1a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":560.0,"y":848.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e8455544-a331-3099-a75f-589738757af5"},{"identifier":"8fe90d08-f068-309a-a6f9-8ab4aadd1dea","instanceIdentifier":"1940008e-f4ce-3f5c-7e79-0be0c69241c9","name":"","source":{"id":"10343d47-0f34-3c23-8070-ce4143fd83e3","type":"PROCESSOR","groupId":"e8455544-a331-3099-a75f-589738757af5","name":"TailFile AppLog","comments":"","instanceIdentifier":"69614bb3-bebe-3eaa-cb72-c282d6e4b27a"},"destination":{"id":"5b3cea41-9715-334d-8dc1-7ce394a6d5a6","type":"PROCESSOR","groupId":"e8455544-a331-3099-a75f-589738757af5","name":"ConvertRecord","comments":"","instanceIdentifier":"76a0bdb5-60d4-38bf-9e2c-6dceb8e427a8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e8455544-a331-3099-a75f-589738757af5"},{"identifier":"1e343d01-91f9-3b2f-9fbd-f4a728ae84df","instanceIdentifier":"5628597b-f0f3-3698-ddc9-25ca72f6cba8","name":"","source":{"id":"6eba7c0b-a7a2-3819-9250-7255291f92ec","type":"PROCESSOR","groupId":"e8455544-a331-3099-a75f-589738757af5","name":"SplitJson","comments":"","instanceIdentifier":"29be106e-2344-37a2-e55a-86bf2249f789"},"destination":{"id":"0c51c627-e1fc-305b-93c8-96e91831f30a","type":"FUNNEL","groupId":"e8455544-a331-3099-a75f-589738757af5","name":"Funnel","comments":"","instanceIdentifier":"172fa614-3e95-3d52-0088-8015d0683dcc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1560.0,"y":736.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e8455544-a331-3099-a75f-589738757af5"},{"identifier":"916e07eb-3deb-3d2e-ab7b-5bffb3302e77","instanceIdentifier":"a0f4ea26-7707-3d1d-700f-50c7f00df374","name":"","source":{"id":"10393735-802a-3665-9a33-442157d9238a","type":"PROCESSOR","groupId":"e8455544-a331-3099-a75f-589738757af5","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"43554f47-c820-3b66-5460-8dd9651a9216"},"destination":{"id":"4d78f17a-9911-3556-96c9-ff13111b17e5","type":"PROCESSOR","groupId":"e8455544-a331-3099-a75f-589738757af5","name":"DebugFlow","comments":"","instanceIdentifier":"0e150aef-cf80-316b-4c43-eaf4fedc6f8f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":920.0,"y":736.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e8455544-a331-3099-a75f-589738757af5"},{"identifier":"32c298ca-432b-3048-9e4e-2f75bf6d6719","instanceIdentifier":"4e4b985c-df3e-3278-fa3e-fab1502dcf6a","name":"","source":{"id":"4d195d27-4b45-3764-8e7d-55eb3fcdcc6b","type":"PROCESSOR","groupId":"e8455544-a331-3099-a75f-589738757af5","name":"InvokeHTTP Loki API","comments":"","instanceIdentifier":"2eadd325-4f90-3a1f-a11e-5afa239a8e1a"},"destination":{"id":"0c51c627-e1fc-305b-93c8-96e91831f30a","type":"FUNNEL","groupId":"e8455544-a331-3099-a75f-589738757af5","name":"Funnel","comments":"","instanceIdentifier":"172fa614-3e95-3d52-0088-8015d0683dcc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1328.0,"y":912.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e8455544-a331-3099-a75f-589738757af5"},{"identifier":"cd4a48f8-c307-3fa6-8f17-bbe56b5f5f7b","instanceIdentifier":"62bd7353-def7-38d3-22d9-998aa2ba6450","name":"","source":{"id":"6eba7c0b-a7a2-3819-9250-7255291f92ec","type":"PROCESSOR","groupId":"e8455544-a331-3099-a75f-589738757af5","name":"SplitJson","comments":"","instanceIdentifier":"29be106e-2344-37a2-e55a-86bf2249f789"},"destination":{"id":"4d78f17a-9911-3556-96c9-ff13111b17e5","type":"PROCESSOR","groupId":"e8455544-a331-3099-a75f-589738757af5","name":"DebugFlow","comments":"","instanceIdentifier":"0e150aef-cf80-316b-4c43-eaf4fedc6f8f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":920.0,"y":536.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e8455544-a331-3099-a75f-589738757af5"},{"identifier":"977df46e-f000-364d-b279-9831fcf418b3","instanceIdentifier":"3dbafb55-0533-329d-d39e-76d85debe2a4","name":"","source":{"id":"5b3cea41-9715-334d-8dc1-7ce394a6d5a6","type":"PROCESSOR","groupId":"e8455544-a331-3099-a75f-589738757af5","name":"ConvertRecord","comments":"","instanceIdentifier":"76a0bdb5-60d4-38bf-9e2c-6dceb8e427a8"},"destination":{"id":"4d78f17a-9911-3556-96c9-ff13111b17e5","type":"PROCESSOR","groupId":"e8455544-a331-3099-a75f-589738757af5","name":"DebugFlow","comments":"","instanceIdentifier":"0e150aef-cf80-316b-4c43-eaf4fedc6f8f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":920.0,"y":320.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e8455544-a331-3099-a75f-589738757af5"},{"identifier":"9a78b5cb-00f3-38cd-a41d-389a8a0afee9","instanceIdentifier":"2bc24779-482b-3c7b-79c8-e30501285be0","name":"","source":{"id":"5b3cea41-9715-334d-8dc1-7ce394a6d5a6","type":"PROCESSOR","groupId":"e8455544-a331-3099-a75f-589738757af5","name":"ConvertRecord","comments":"","instanceIdentifier":"76a0bdb5-60d4-38bf-9e2c-6dceb8e427a8"},"destination":{"id":"6eba7c0b-a7a2-3819-9250-7255291f92ec","type":"PROCESSOR","groupId":"e8455544-a331-3099-a75f-589738757af5","name":"SplitJson","comments":"","instanceIdentifier":"29be106e-2344-37a2-e55a-86bf2249f789"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e8455544-a331-3099-a75f-589738757af5"},{"identifier":"b7ca05c8-a7aa-33f2-8121-1d2630e552f0","instanceIdentifier":"fac9d350-575c-3985-437c-5abc8e0175db","name":"","source":{"id":"6eba7c0b-a7a2-3819-9250-7255291f92ec","type":"PROCESSOR","groupId":"e8455544-a331-3099-a75f-589738757af5","name":"SplitJson","comments":"","instanceIdentifier":"29be106e-2344-37a2-e55a-86bf2249f789"},"destination":{"id":"10393735-802a-3665-9a33-442157d9238a","type":"PROCESSOR","groupId":"e8455544-a331-3099-a75f-589738757af5","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"43554f47-c820-3b66-5460-8dd9651a9216"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e8455544-a331-3099-a75f-589738757af5"},{"identifier":"4d86e75c-d0d6-366f-a9ac-084e831c0cad","instanceIdentifier":"9e242137-050d-309a-f6e2-c9c6cee32390","name":"","source":{"id":"4d195d27-4b45-3764-8e7d-55eb3fcdcc6b","type":"PROCESSOR","groupId":"e8455544-a331-3099-a75f-589738757af5","name":"InvokeHTTP Loki API","comments":"","instanceIdentifier":"2eadd325-4f90-3a1f-a11e-5afa239a8e1a"},"destination":{"id":"0c51c627-e1fc-305b-93c8-96e91831f30a","type":"FUNNEL","groupId":"e8455544-a331-3099-a75f-589738757af5","name":"Funnel","comments":"","instanceIdentifier":"172fa614-3e95-3d52-0088-8015d0683dcc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","No Retry","Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e8455544-a331-3099-a75f-589738757af5"},{"identifier":"6296d486-60c7-3573-b8ae-9167809f02fe","instanceIdentifier":"92290471-5c8b-350c-2828-5b08ca1a119a","name":"","source":{"id":"4d195d27-4b45-3764-8e7d-55eb3fcdcc6b","type":"PROCESSOR","groupId":"e8455544-a331-3099-a75f-589738757af5","name":"InvokeHTTP Loki API","comments":"","instanceIdentifier":"2eadd325-4f90-3a1f-a11e-5afa239a8e1a"},"destination":{"id":"4d78f17a-9911-3556-96c9-ff13111b17e5","type":"PROCESSOR","groupId":"e8455544-a331-3099-a75f-589738757af5","name":"DebugFlow","comments":"","instanceIdentifier":"0e150aef-cf80-316b-4c43-eaf4fedc6f8f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":912.0,"y":928.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e8455544-a331-3099-a75f-589738757af5"}],"labels":[],"funnels":[{"identifier":"0c51c627-e1fc-305b-93c8-96e91831f30a","instanceIdentifier":"172fa614-3e95-3d52-0088-8015d0683dcc","position":{"x":1544.0,"y":952.0},"componentType":"FUNNEL","groupIdentifier":"e8455544-a331-3099-a75f-589738757af5"}],"controllerServices":[{"identifier":"88ac3310-49d9-3a26-968a-7e93939953aa","instanceIdentifier":"b9ca3632-2e9a-34f8-0f79-3bf1e4e9994e","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e8455544-a331-3099-a75f-589738757af5"},{"identifier":"ca679953-65c0-3601-9ec2-705d0ba29e82","instanceIdentifier":"6b995aa5-7f47-3545-5bb7-df86e5b2372c","name":"GrokReader","comments":"","type":"org.apache.nifi.grok.GrokReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0"},"properties":{"Grok Expression":"%{TIMESTAMP_ISO8601:date} %{LOGLEVEL:Level} \\[%{DATA:thread}] %{DATA:logger} %{GREEDYDATA:message}","Grok Pattern File":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"no-match-behavior":"append-to-previous-message","schema-access-strategy":"string-fields-from-grok-expression","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Grok Expression":{"name":"Grok Expression","displayName":"Grok Expressions","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["URL","TEXT","FILE"]}},"Grok Pattern File":{"name":"Grok Pattern File","displayName":"Grok Patterns","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["URL","FILE","TEXT"]}},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"no-match-behavior":{"name":"no-match-behavior","displayName":"No Match Behavior","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e8455544-a331-3099-a75f-589738757af5"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"80b4df53-7277-3b32-8d65-47cdf26a2695"},{"identifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f","instanceIdentifier":"36b0e307-0187-1000-a675-8a4f62e242d0","name":"NiFi_Flow_Clickhouse_Audit_To_Analytics_v3","comments":"","position":{"x":1768.0,"y":456.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"26520057-2049-37e5-83ac-a0526bfc6c4c","instanceIdentifier":"a434f203-41a1-3315-6724-984c4bdd706c","name":"ReplaceText","comments":"","position":{"x":1992.0,"y":656.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Regular Expression":"\"(OperationId|ObjectType|UserName|UserLogin|CarData)\":\"\"","Replacement Value":"\"$1\":null","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"42c190ad-4ca1-3451-b143-001046194bbb","instanceIdentifier":"0ed12c6b-6e63-34cb-e491-5260e21ae2b4","name":"ObjectType RouteOnAttribute","comments":"","position":{"x":1232.0,"y":656.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Brand":"${ObjectTypeName:equals('Brand')}","Routing Strategy":"Route to Property name","Car":"${ObjectTypeName:equals('Car')}","SparePart":"${ObjectTypeName:equals('SparePart')}","ProducingCountry":"${ObjectTypeName:equals('ProducingCountry')}"},"propertyDescriptors":{"Brand":{"name":"Brand","displayName":"Brand","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"Car":{"name":"Car","displayName":"Car","identifiesControllerService":false,"sensitive":false},"SparePart":{"name":"SparePart","displayName":"SparePart","identifiesControllerService":false,"sensitive":false},"ProducingCountry":{"name":"ProducingCountry","displayName":"ProducingCountry","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"f1a00514-a98f-3eed-8b38-bababac28805","instanceIdentifier":"76e9ca12-684f-3ca6-849f-5016cdb05274","name":"JoltTransformJSON","comments":"","position":{"x":1992.0,"y":32.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": \"@primarykey.spareParts[]\"\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": {\n        \"spareParts\": {\n          \"0\": {\n            \"carbody\": \"@(1,primarykey).carbody\",\n            \"carnumber\": \"@(1,primarykey).carnumber\",\n            \"brand\": \"@(1,primarykey).brand\",\n            \"partname\": \"@(1,primarykey).spareParts[#0].partname\",\n            \"countryname\": \"@(1,primarykey).spareParts[#0].countryname\"\n          },\n          \"*\": {\n            \"partname\": \"@(1,primarykey).spareParts[&1].partname\",\n            \"countryname\": \"@(1,primarykey).spareParts[&1].countryname\"\n          }\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": \"\"\n    }\n  }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"c5d37101-430a-31ef-8ee9-6d8cadbea503","instanceIdentifier":"2fa3a8e4-f3cc-3331-1152-d140d05cdf41","name":"AttributesToJSON","comments":"","position":{"x":1992.0,"y":448.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"true","Attributes List":"primaryKey, UserName, UserLogin, OperationId, OperationTags, ObjectType, OperationTime, OperationType, CarData","Include Core Attributes":"false"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"2305b506-59d4-31ac-aa79-006e3e766fea","instanceIdentifier":"3752a428-1162-3137-201c-1963e4e67ca9","name":"UpdateAttribute","comments":"","position":{"x":1232.0,"y":448.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","ObjectTypeName":"${ObjectType:replace('IIS.NiFiSample.', ''):substringBefore(',')}","Stateful Variables Initial Value":null,"ObjectPrimaryKeyValue":"'${ObjectPrimaryKey}'"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"ObjectTypeName":{"name":"ObjectTypeName","displayName":"ObjectTypeName","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"ObjectPrimaryKeyValue":{"name":"ObjectPrimaryKeyValue","displayName":"ObjectPrimaryKeyValue","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"1fba8373-c883-3717-a741-c33d10381662","instanceIdentifier":"ee596e27-b48f-3f83-914a-8eb2cd519e8e","name":"SparePart UpdateAttribute","comments":"","position":{"x":1616.0,"y":448.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","ObjectTypeName":"Car","Stateful Variables Initial Value":null,"ObjectPrimaryKeyValue":"(SELECT Car_m0 FROM SparePart WHERE primaryKey = ${ObjectPrimaryKeyValue})"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"ObjectTypeName":{"name":"ObjectTypeName","displayName":"ObjectTypeName","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"ObjectPrimaryKeyValue":{"name":"ObjectPrimaryKeyValue","displayName":"ObjectPrimaryKeyValue","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"631c3aca-8790-3801-888a-dcc2371b8266","instanceIdentifier":"73bac8f8-8f4c-3e43-426f-8a742ef177e6","name":"EvaluateJsonPath","comments":"","position":{"x":1232.0,"y":240.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Destination":"flowfile-attribute","UserName":"$.UserName","OperationId":"$.OperationId","Return Type":"auto-detect","Null Value Representation":"empty string","ObjectPrimaryKey":"$.ObjectPrimaryKey","OperationTime":"$.OperationTime","Path Not Found Behavior":"ignore","ObjectType":"$.ObjectType","OperationTags":"$.OperationTags","OperationType":"$.OperationType","UserLogin":"$.UserLogin","primaryKey":"$.primaryKey"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"UserName":{"name":"UserName","displayName":"UserName","identifiesControllerService":false,"sensitive":false},"OperationId":{"name":"OperationId","displayName":"OperationId","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"ObjectPrimaryKey":{"name":"ObjectPrimaryKey","displayName":"ObjectPrimaryKey","identifiesControllerService":false,"sensitive":false},"OperationTime":{"name":"OperationTime","displayName":"OperationTime","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"ObjectType":{"name":"ObjectType","displayName":"ObjectType","identifiesControllerService":false,"sensitive":false},"OperationTags":{"name":"OperationTags","displayName":"OperationTags","identifiesControllerService":false,"sensitive":false},"OperationType":{"name":"OperationType","displayName":"OperationType","identifiesControllerService":false,"sensitive":false},"UserLogin":{"name":"UserLogin","displayName":"UserLogin","identifiesControllerService":false,"sensitive":false},"primaryKey":{"name":"primaryKey","displayName":"primaryKey","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"6949c96c-2df0-3162-9e16-df959fd0ab12","instanceIdentifier":"41269064-1feb-33b4-593d-8440bd0e4c83","name":"SplitJson","comments":"","position":{"x":1232.0,"y":32.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"ad3a4149-91d9-34bf-b6eb-e31cb1983362","instanceIdentifier":"2d402b28-97f0-30db-97a4-8a5ae5f40bb8","name":"ExtractText","comments":"","position":{"x":1992.0,"y":240.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","CarData":"(.*)","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"CarData":{"name":"CarData","displayName":"CarData","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"41c61521-b3d9-3bd6-98ac-beb9fa133ffa","instanceIdentifier":"5f4e341b-a90b-3b23-e37b-151efe63ebad","name":"ExecuteSQLRecord","comments":"","position":{"x":1992.0,"y":-176.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"8501bc12-f934-3a15-a607-f53dabc304e9","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"b0d79805-9efa-3e1c-9ef4-49b4219c3428","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT \n\tCar.primaryKey,\n\tCar.carbody,\n\tCar.carnumber,\n\tBrand.name as brand,\n\t--SparePart.primaryKey,\n\tSparePart.name as partName,\n\tProducingCountry.name as countryName\nFROM Car\n\tINNER JOIN Brand on Car.Brand_m0 = Brand.primaryKey\n\tLEFT JOIN SparePart on SparePart.Car_m0 = Car.primaryKey\n\tLEFT JOIN ProducingCountry on SparePart.ProducingCountry_m0 = ProducingCountry.primaryKey\nWHERE ${ObjectTypeName}.primaryKey = ${ObjectPrimaryKeyValue}\nORDER BY \n\tCar.carnumber, \n\tBrand.name, \n\tCar.carbody, \n\tCar.primaryKey, \n\tSparePart.name, \n\tProducingCountry.name, \n\tSparePart.primaryKey","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"c6e3c4e8-902a-3da5-a5be-75c265126555","instanceIdentifier":"f7dfba6e-d157-309f-d2e9-7be65b24f162","name":"CH Audit QueryDatabaseTableRecord","comments":"","position":{"x":1232.0,"y":-176.0},"type":"org.apache.nifi.processors.standard.QueryDatabaseTableRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Table Name":"Audit","db-fetch-db-type":"Generic","dbf-default-precision":"10","qdbtr-record-writer":"8501bc12-f934-3a15-a607-f53dabc304e9","Max Wait Time":"0 seconds","Database Connection Pooling Service":"5c87fb76-43ce-3fc1-aaf0-11322ec11b4c","Maximum-value Columns":"OperationTime","dbf-user-logical-types":"false","qdbt-output-batch-size":"0","qdbt-max-rows":"0","qdbt-max-frags":"0","dbf-default-scale":"0","initial-load-strategy":"Start at Current Maximum Values","Fetch Size":"0","db-fetch-sql-query":"SELECT primaryKey,\n\tUserName,\n\tUserLogin,\n\tOperationId,\n\tOperationTags,\n\tObjectType,\n\tObjectPrimaryKey,\n\ttoString(OperationTime) as OperationTime,\n\tOperationType\nFROM Audit","qdbtr-normalize":"false","Columns to Return":"primaryKey, UserName, UserLogin, OperationId, OperationTags, ObjectType, OperationTime, OperationType, ObjectPrimaryKey","db-fetch-where-clause":"OperationType != 'Ratify'"},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"qdbtr-record-writer":{"name":"qdbtr-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"qdbt-output-batch-size":{"name":"qdbt-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"qdbt-max-rows":{"name":"qdbt-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"qdbt-max-frags":{"name":"qdbt-max-frags","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"initial-load-strategy":{"name":"initial-load-strategy","displayName":"Initial Load Strategy","identifiesControllerService":false,"sensitive":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"db-fetch-sql-query":{"name":"db-fetch-sql-query","displayName":"Custom Query","identifiesControllerService":false,"sensitive":false},"qdbtr-normalize":{"name":"qdbtr-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"7c4b6a27-5bd4-35e6-99d0-49480a5ef0dd","instanceIdentifier":"22988a21-ddb6-36e5-c3bc-e45d7292ab71","name":"CH Analytics PutDatabaseRecord","comments":"","position":{"x":2608.0,"y":-168.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"91166ae7-cf2e-3f9b-856e-bc115395f1b2","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","db-type":"Generic","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"Analitics","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"0","put-db-record-record-reader":"72a78249-0994-370d-9187-3211f8d3f2d2","Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"b62bf30b-0200-3ad5-9698-c08d05042c42","instanceIdentifier":"8b39e451-a4d2-39ef-0472-08c45be856df","name":"","source":{"id":"ad3a4149-91d9-34bf-b6eb-e31cb1983362","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"ExtractText","comments":"","instanceIdentifier":"2d402b28-97f0-30db-97a4-8a5ae5f40bb8"},"destination":{"id":"42a463b1-aa95-350f-9f49-5d9ddcd5e94e","type":"FUNNEL","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"Funnel","comments":"","instanceIdentifier":"c66785e8-996a-34c2-3695-5971f8cafdda"},"labelIndex":0,"zIndex":31,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2480.0,"y":312.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"39f0849b-2d7d-3107-bffd-5c355a51a3f7","instanceIdentifier":"adcf9f2f-1a01-3be3-807d-547d50280bd1","name":"","source":{"id":"42c190ad-4ca1-3451-b143-001046194bbb","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"ObjectType RouteOnAttribute","comments":"","instanceIdentifier":"0ed12c6b-6e63-34cb-e491-5260e21ae2b4"},"destination":{"id":"41c61521-b3d9-3bd6-98ac-beb9fa133ffa","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"5f4e341b-a90b-3b23-e37b-151efe63ebad"},"labelIndex":2,"zIndex":18,"selectedRelationships":["Brand"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1600.0,"y":720.0},{"x":1600.0,"y":-160.0},{"x":1792.0,"y":-160.0},{"x":1936.0,"y":-160.0},{"x":1936.0,"y":-112.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"06531a80-4797-317f-b60c-361c0a2de804","instanceIdentifier":"8ba6c4d6-aff3-3b2c-3ea0-037d6d258426","name":"","source":{"id":"7c4b6a27-5bd4-35e6-99d0-49480a5ef0dd","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"CH Analytics PutDatabaseRecord","comments":"","instanceIdentifier":"22988a21-ddb6-36e5-c3bc-e45d7292ab71"},"destination":{"id":"42a463b1-aa95-350f-9f49-5d9ddcd5e94e","type":"FUNNEL","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"Funnel","comments":"","instanceIdentifier":"c66785e8-996a-34c2-3695-5971f8cafdda"},"labelIndex":0,"zIndex":29,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2480.0,"y":16.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"a10ff3de-4a43-3e6c-8dc3-1fb403fe75cb","instanceIdentifier":"fd209f35-85ea-3067-4d85-b8a7117983bf","name":"","source":{"id":"2305b506-59d4-31ac-aa79-006e3e766fea","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"UpdateAttribute","comments":"","instanceIdentifier":"3752a428-1162-3137-201c-1963e4e67ca9"},"destination":{"id":"42c190ad-4ca1-3451-b143-001046194bbb","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"ObjectType RouteOnAttribute","comments":"","instanceIdentifier":"0ed12c6b-6e63-34cb-e491-5260e21ae2b4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"3822412f-b18a-30eb-ae70-dceef5f1b478","instanceIdentifier":"c5ee6473-5236-30cb-dbc5-a062593a287d","name":"","source":{"id":"c5d37101-430a-31ef-8ee9-6d8cadbea503","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"AttributesToJSON","comments":"","instanceIdentifier":"2fa3a8e4-f3cc-3331-1152-d140d05cdf41"},"destination":{"id":"42a463b1-aa95-350f-9f49-5d9ddcd5e94e","type":"FUNNEL","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"Funnel","comments":"","instanceIdentifier":"c66785e8-996a-34c2-3695-5971f8cafdda"},"labelIndex":0,"zIndex":32,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2480.0,"y":520.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"71eb6902-37a7-3739-b285-93d22d3bc1d6","instanceIdentifier":"94827a00-27aa-3942-5486-800b8c515bd2","name":"","source":{"id":"631c3aca-8790-3801-888a-dcc2371b8266","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"73bac8f8-8f4c-3e43-426f-8a742ef177e6"},"destination":{"id":"090b9cfb-3a62-3019-885d-3d4e609ad9b7","type":"FUNNEL","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"Funnel","comments":"","instanceIdentifier":"c8400b28-b36a-3ec4-a831-47ab4840ff50"},"labelIndex":0,"zIndex":9,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1096.0,"y":328.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"6f87c17b-cc62-3366-8e40-e4bfdbe6e351","instanceIdentifier":"6dab0d75-97fb-3d5e-36e7-c19a2a39691a","name":"","source":{"id":"42c190ad-4ca1-3451-b143-001046194bbb","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"ObjectType RouteOnAttribute","comments":"","instanceIdentifier":"0ed12c6b-6e63-34cb-e491-5260e21ae2b4"},"destination":{"id":"41c61521-b3d9-3bd6-98ac-beb9fa133ffa","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"5f4e341b-a90b-3b23-e37b-151efe63ebad"},"labelIndex":2,"zIndex":27,"selectedRelationships":["Car"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1600.0,"y":720.0},{"x":1600.0,"y":-64.0},{"x":1792.0,"y":-64.0},{"x":1936.0,"y":-64.0},{"x":1936.0,"y":-112.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"e82d52b2-7660-362f-be5a-be2f5fb3f637","instanceIdentifier":"2feb0ab0-8213-3d6e-ee25-f64f574427aa","name":"","source":{"id":"42c190ad-4ca1-3451-b143-001046194bbb","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"ObjectType RouteOnAttribute","comments":"","instanceIdentifier":"0ed12c6b-6e63-34cb-e491-5260e21ae2b4"},"destination":{"id":"090b9cfb-3a62-3019-885d-3d4e609ad9b7","type":"FUNNEL","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"Funnel","comments":"","instanceIdentifier":"c8400b28-b36a-3ec4-a831-47ab4840ff50"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1096.0,"y":720.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"912e128e-d1a8-3805-9917-d56abba67d13","instanceIdentifier":"6b5bc941-fee3-3fac-c5c2-fba99bb30b99","name":"","source":{"id":"c6e3c4e8-902a-3da5-a5be-75c265126555","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"CH Audit QueryDatabaseTableRecord","comments":"","instanceIdentifier":"f7dfba6e-d157-309f-d2e9-7be65b24f162"},"destination":{"id":"6949c96c-2df0-3162-9e16-df959fd0ab12","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"SplitJson","comments":"","instanceIdentifier":"41269064-1feb-33b4-593d-8440bd0e4c83"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"b0f5ebea-5e3f-3879-8ca8-4966af8a3ed1","instanceIdentifier":"d354c1f1-5ad1-3eee-6b52-1eba4bb6ae2e","name":"","source":{"id":"6949c96c-2df0-3162-9e16-df959fd0ab12","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"SplitJson","comments":"","instanceIdentifier":"41269064-1feb-33b4-593d-8440bd0e4c83"},"destination":{"id":"631c3aca-8790-3801-888a-dcc2371b8266","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"73bac8f8-8f4c-3e43-426f-8a742ef177e6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"644e0dac-31ea-39a4-ae40-0277239f4d56","instanceIdentifier":"10acb082-787b-37ed-0d45-b5dc44940850","name":"","source":{"id":"f1a00514-a98f-3eed-8b38-bababac28805","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"JoltTransformJSON","comments":"","instanceIdentifier":"76e9ca12-684f-3ca6-849f-5016cdb05274"},"destination":{"id":"42a463b1-aa95-350f-9f49-5d9ddcd5e94e","type":"FUNNEL","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"Funnel","comments":"","instanceIdentifier":"c66785e8-996a-34c2-3695-5971f8cafdda"},"labelIndex":0,"zIndex":30,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2480.0,"y":96.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"f2b13e1b-fc5b-3968-a2d3-3b54368c7ae6","instanceIdentifier":"4bbae3df-1269-3404-4007-8f5fda37bcda","name":"","source":{"id":"26520057-2049-37e5-83ac-a0526bfc6c4c","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"ReplaceText","comments":"","instanceIdentifier":"a434f203-41a1-3315-6724-984c4bdd706c"},"destination":{"id":"7c4b6a27-5bd4-35e6-99d0-49480a5ef0dd","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"CH Analytics PutDatabaseRecord","comments":"","instanceIdentifier":"22988a21-ddb6-36e5-c3bc-e45d7292ab71"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2480.0,"y":720.0},{"x":2640.0,"y":720.0},{"x":2640.0,"y":-24.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"a9633fc9-0f6e-32ca-b7d5-e9962c4a1a98","instanceIdentifier":"f3d333a4-1020-31aa-3000-65120f3922b9","name":"","source":{"id":"42c190ad-4ca1-3451-b143-001046194bbb","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"ObjectType RouteOnAttribute","comments":"","instanceIdentifier":"0ed12c6b-6e63-34cb-e491-5260e21ae2b4"},"destination":{"id":"1fba8373-c883-3717-a741-c33d10381662","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"SparePart UpdateAttribute","comments":"","instanceIdentifier":"ee596e27-b48f-3f83-914a-8eb2cd519e8e"},"labelIndex":1,"zIndex":17,"selectedRelationships":["SparePart"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1792.0,"y":720.0},{"x":1792.0,"y":656.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"41a6bd08-357a-3a7c-92fc-8dda3a47b5cb","instanceIdentifier":"9c8d016c-377d-39f0-b813-1210679fac43","name":"","source":{"id":"41c61521-b3d9-3bd6-98ac-beb9fa133ffa","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"5f4e341b-a90b-3b23-e37b-151efe63ebad"},"destination":{"id":"42a463b1-aa95-350f-9f49-5d9ddcd5e94e","type":"FUNNEL","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"Funnel","comments":"","instanceIdentifier":"c66785e8-996a-34c2-3695-5971f8cafdda"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2480.0,"y":-112.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"3b59c862-24e3-334e-b48e-e555b45efe40","instanceIdentifier":"b9e83c46-af27-3c09-b54f-36ed3d5b3dc5","name":"","source":{"id":"631c3aca-8790-3801-888a-dcc2371b8266","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"73bac8f8-8f4c-3e43-426f-8a742ef177e6"},"destination":{"id":"2305b506-59d4-31ac-aa79-006e3e766fea","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"UpdateAttribute","comments":"","instanceIdentifier":"3752a428-1162-3137-201c-1963e4e67ca9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"07f3241a-b134-3d74-b168-6ad92441be7a","instanceIdentifier":"eae80216-175b-3053-e672-5c8acff93dd7","name":"","source":{"id":"c5d37101-430a-31ef-8ee9-6d8cadbea503","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"AttributesToJSON","comments":"","instanceIdentifier":"2fa3a8e4-f3cc-3331-1152-d140d05cdf41"},"destination":{"id":"26520057-2049-37e5-83ac-a0526bfc6c4c","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"ReplaceText","comments":"","instanceIdentifier":"a434f203-41a1-3315-6724-984c4bdd706c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"b6d852e8-4764-3677-aa6f-ce079f005fbb","instanceIdentifier":"77def858-dddc-3d3b-d6f4-429c7b90db24","name":"","source":{"id":"1fba8373-c883-3717-a741-c33d10381662","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"SparePart UpdateAttribute","comments":"","instanceIdentifier":"ee596e27-b48f-3f83-914a-8eb2cd519e8e"},"destination":{"id":"41c61521-b3d9-3bd6-98ac-beb9fa133ffa","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"5f4e341b-a90b-3b23-e37b-151efe63ebad"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1792.0,"y":32.0},{"x":1936.0,"y":32.0},{"x":1936.0,"y":-112.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"ff46b679-1729-375d-abc5-155e99b7c8bb","instanceIdentifier":"6eb6b2b7-ddb6-3aa9-eef8-7e2bbb8d6ead","name":"","source":{"id":"42c190ad-4ca1-3451-b143-001046194bbb","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"ObjectType RouteOnAttribute","comments":"","instanceIdentifier":"0ed12c6b-6e63-34cb-e491-5260e21ae2b4"},"destination":{"id":"41c61521-b3d9-3bd6-98ac-beb9fa133ffa","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"5f4e341b-a90b-3b23-e37b-151efe63ebad"},"labelIndex":2,"zIndex":26,"selectedRelationships":["ProducingCountry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1600.0,"y":720.0},{"x":1600.0,"y":-112.0},{"x":1792.0,"y":-112.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"8b8ca0aa-149a-3c59-b324-28bc9470005e","instanceIdentifier":"4ae3393c-86de-377c-8d29-0b6db86f976f","name":"","source":{"id":"7c4b6a27-5bd4-35e6-99d0-49480a5ef0dd","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"CH Analytics PutDatabaseRecord","comments":"","instanceIdentifier":"22988a21-ddb6-36e5-c3bc-e45d7292ab71"},"destination":{"id":"42a463b1-aa95-350f-9f49-5d9ddcd5e94e","type":"FUNNEL","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"Funnel","comments":"","instanceIdentifier":"c66785e8-996a-34c2-3695-5971f8cafdda"},"labelIndex":0,"zIndex":28,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2480.0,"y":-56.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"d1d2af02-6bb9-36ee-a4df-436d4743dc1d","instanceIdentifier":"3d525a98-f9ce-3481-bf02-caa1bf695b06","name":"","source":{"id":"7c4b6a27-5bd4-35e6-99d0-49480a5ef0dd","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"CH Analytics PutDatabaseRecord","comments":"","instanceIdentifier":"22988a21-ddb6-36e5-c3bc-e45d7292ab71"},"destination":{"id":"42a463b1-aa95-350f-9f49-5d9ddcd5e94e","type":"FUNNEL","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"Funnel","comments":"","instanceIdentifier":"c66785e8-996a-34c2-3695-5971f8cafdda"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2784.0,"y":424.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"afd96499-69b8-3178-b0e4-8e86d9bf5976","instanceIdentifier":"89ce907f-506d-3de5-b5e2-377bef532ae8","name":"","source":{"id":"631c3aca-8790-3801-888a-dcc2371b8266","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"73bac8f8-8f4c-3e43-426f-8a742ef177e6"},"destination":{"id":"090b9cfb-3a62-3019-885d-3d4e609ad9b7","type":"FUNNEL","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"Funnel","comments":"","instanceIdentifier":"c8400b28-b36a-3ec4-a831-47ab4840ff50"},"labelIndex":0,"zIndex":8,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1096.0,"y":280.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"6f7e1a6f-fd4b-30b8-a82e-b4e3658a42c2","instanceIdentifier":"2ff226e4-64fb-34e0-cd71-06aa52d60cb8","name":"","source":{"id":"26520057-2049-37e5-83ac-a0526bfc6c4c","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"ReplaceText","comments":"","instanceIdentifier":"a434f203-41a1-3315-6724-984c4bdd706c"},"destination":{"id":"42a463b1-aa95-350f-9f49-5d9ddcd5e94e","type":"FUNNEL","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"Funnel","comments":"","instanceIdentifier":"c66785e8-996a-34c2-3695-5971f8cafdda"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2480.0,"y":672.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"7fcafb99-355f-3a40-b523-8e9a7400f021","instanceIdentifier":"b6ecd312-341c-35ab-d0f9-61b439463814","name":"","source":{"id":"6949c96c-2df0-3162-9e16-df959fd0ab12","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"SplitJson","comments":"","instanceIdentifier":"41269064-1feb-33b4-593d-8440bd0e4c83"},"destination":{"id":"090b9cfb-3a62-3019-885d-3d4e609ad9b7","type":"FUNNEL","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"Funnel","comments":"","instanceIdentifier":"c8400b28-b36a-3ec4-a831-47ab4840ff50"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1096.0,"y":96.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"ee9adb7b-5963-3524-9a01-fd65a517395d","instanceIdentifier":"793b2d8c-c8f8-32d8-5250-ebf788423484","name":"","source":{"id":"f1a00514-a98f-3eed-8b38-bababac28805","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"JoltTransformJSON","comments":"","instanceIdentifier":"76e9ca12-684f-3ca6-849f-5016cdb05274"},"destination":{"id":"ad3a4149-91d9-34bf-b6eb-e31cb1983362","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"ExtractText","comments":"","instanceIdentifier":"2d402b28-97f0-30db-97a4-8a5ae5f40bb8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"477d3aa8-5b0e-309e-ba4b-30a9de7270a6","instanceIdentifier":"aa99af27-137b-3c65-907c-aeec45639059","name":"","source":{"id":"41c61521-b3d9-3bd6-98ac-beb9fa133ffa","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"5f4e341b-a90b-3b23-e37b-151efe63ebad"},"destination":{"id":"f1a00514-a98f-3eed-8b38-bababac28805","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"JoltTransformJSON","comments":"","instanceIdentifier":"76e9ca12-684f-3ca6-849f-5016cdb05274"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2168.0,"y":-8.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"a5b8ca64-4412-379a-8dd5-b71acb5a998b","instanceIdentifier":"c73efb23-60d3-35e5-5ff6-439de3969dc0","name":"","source":{"id":"ad3a4149-91d9-34bf-b6eb-e31cb1983362","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"ExtractText","comments":"","instanceIdentifier":"2d402b28-97f0-30db-97a4-8a5ae5f40bb8"},"destination":{"id":"c5d37101-430a-31ef-8ee9-6d8cadbea503","type":"PROCESSOR","groupId":"583d6fb2-df3f-38a4-a151-0adba797fb8f","name":"AttributesToJSON","comments":"","instanceIdentifier":"2fa3a8e4-f3cc-3331-1152-d140d05cdf41"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"}],"labels":[],"funnels":[{"identifier":"090b9cfb-3a62-3019-885d-3d4e609ad9b7","instanceIdentifier":"c8400b28-b36a-3ec4-a831-47ab4840ff50","position":{"x":1072.0,"y":488.0},"componentType":"FUNNEL","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"42a463b1-aa95-350f-9f49-5d9ddcd5e94e","instanceIdentifier":"c66785e8-996a-34c2-3695-5971f8cafdda","position":{"x":2456.0,"y":400.0},"componentType":"FUNNEL","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"}],"controllerServices":[{"identifier":"8501bc12-f934-3a15-a607-f53dabc304e9","instanceIdentifier":"b175efd3-1620-3a32-b1de-97002d47bdde","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"5c87fb76-43ce-3fc1-aaf0-11322ec11b4c","instanceIdentifier":"01f82f83-8972-373b-7255-8ecbd47ecc7b","name":"DBCPConnectionPoolClickhouseAudit","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.20.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.clickhouse.jdbc.ClickHouseDriver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:clickhouse://audit-clickhouse-db:8123/default","dbcp-time-between-eviction-runs":"-1","Database User":"default","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/jdbc/clickhouse-jdbc-0.4.1-shaded.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","FILE","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"72a78249-0994-370d-9187-3211f8d3f2d2","instanceIdentifier":"6f55ce08-f890-3656-bdf1-907a64914c4d","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"b0d79805-9efa-3e1c-9ef4-49b4219c3428","instanceIdentifier":"c3ff69c6-5190-3b32-b573-bf18b584876e","name":"DBCPConnectionPoolPostgreSQL","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.20.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://app-postgre-db:5432/appdb","dbcp-time-between-eviction-runs":"-1","Database User":"flexberryuser","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/jdbc/postgresql-42.5.4.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","FILE","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"},{"identifier":"91166ae7-cf2e-3f9b-856e-bc115395f1b2","instanceIdentifier":"2891d362-1a77-34a9-184e-2b4e64eb57af","name":"DBCPConnectionPoolClickhouseAnalytics","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.20.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.clickhouse.jdbc.ClickHouseDriver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:clickhouse://clickhouse-analytics-db:8123/default","dbcp-time-between-eviction-runs":"-1","Database User":"default","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/jdbc/clickhouse-jdbc-0.4.1-shaded.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","FILE","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"583d6fb2-df3f-38a4-a151-0adba797fb8f"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"80b4df53-7277-3b32-8d65-47cdf26a2695"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[{"identifier":"3b0f8d4f-5c3c-3ab5-97b3-95601c93de87","instanceIdentifier":"2714f415-0187-1000-4369-0852d512a80e","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0"},"properties":{"compression-format":"NONE","Schema Write Strategy":"schema-name","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":"6a55ae01-8f97-35b1-982b-4fbb715c7e1b","schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"80b4df53-7277-3b32-8d65-47cdf26a2695"},{"identifier":"4eee6712-e566-3b7e-9f95-0b696226717d","instanceIdentifier":"27c03e78-0187-1000-d30b-2ac6532054ee","name":"CSVReader-cars","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":"6a55ae01-8f97-35b1-982b-4fbb715c7e1b","csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-name","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"80b4df53-7277-3b32-8d65-47cdf26a2695"},{"identifier":"78c6d0ce-1795-36ef-a36e-4aa2de12f87c","instanceIdentifier":"27c07739-0187-1000-e52d-c25627b49c7d","name":"JsonRecordSetWriter-cars","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"schema-name","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":"6a55ae01-8f97-35b1-982b-4fbb715c7e1b","Time Format":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"80b4df53-7277-3b32-8d65-47cdf26a2695"},{"identifier":"6a55ae01-8f97-35b1-982b-4fbb715c7e1b","instanceIdentifier":"271613ef-0187-1000-8c5d-513cabd0e3bb","name":"AvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"1.20.0"},"properties":{"avro-reg-validated-field-names":"true","owners":"{\"type\": \"record\",\"name\": \"owners\",\"fields\": [{\"name\": \"fullName\", \"type\": [\"null\", \"string\"]},{\"name\": \"buyDate\", \"type\": [\"null\", \"int\"], \"logicalType\": \"date\"}]}"},"propertyDescriptors":{"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false},"owners":{"name":"owners","displayName":"owners","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"80b4df53-7277-3b32-8d65-47cdf26a2695"},{"identifier":"4f4a8b71-6bbe-37b8-b1d1-25a1d26f2c2e","instanceIdentifier":"27113086-0187-1000-b9a4-11650297e60e","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"full-schema-attribute","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"80b4df53-7277-3b32-8d65-47cdf26a2695"},{"identifier":"68615349-2436-3be0-aa39-8e08ba204a4e","instanceIdentifier":"270d55a1-0187-1000-898d-828ed5432fb8","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"80b4df53-7277-3b32-8d65-47cdf26a2695"},{"identifier":"fe18117b-fbbd-39e5-9b7f-496224519311","instanceIdentifier":"2714b642-0187-1000-988a-9fd4470776c4","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":"6a55ae01-8f97-35b1-982b-4fbb715c7e1b","schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"80b4df53-7277-3b32-8d65-47cdf26a2695"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}